<div class="dataset">
  <h3>$!{title}</h3>
  <p class="abstract">$!{abstract}</p>
  <p class="origin">Origin: $!{origin}</p>  
  <div class="presentations">
    $Atlas.PresentationLinks($presentations, $filtered_by)
    $Atlas.MetadataLink($dataset)
  </div>
</div>