/*  
Author: Colin Casey
Date: 7/20/2007
*/

/** NAVIGATION FIXES **/
#navigation ul { margin-left: 10px; padding-top: 23px; }
#navigation li { float: left; margin-right: 4px; padding: 0; border: 1px solid #070660; border-bottom: none; color: #8291ec; background-color: #e8ebfc; }
#navigation li a { display: block; padding: 3px 15px; }
#navigation li a:hover { background-color: #fff; }

#home #home-tab,
#about #about-tab,
#maps #maps-tab,
#forms #forms-tab,
#reports #reports-tab,
#search #search-tab { padding-top: 1px; padding-bottom: 1px; margin-top: -1px; }

#navigation #quick-search { margin: 0; padding: 0; margin-top: 2px; }
#navigation #quick-search .adv-link { float: right; margin: 0; margin-bottom: -20px; }
#navigation #quick-search #search-box { width: 100%; margin-top: -2px; }
#navigation #quick-search #lbl_search { display: block; margin: 0; }
#navigation #quick-search #txt_search { width: 100%; margin-bottom: 1.125em; padding: 0 2px; }
#navigation #quick-search div.btn { margin-top: -34px; margin-right: -3px; }
#navigation #quick-search #btn_search { position: relative; z-index: 100; width: 20px; height: 20px; border: none; overflow: hidden; font-size: 0em; color: #fff; background: #fff center no-repeat url('../images/search-button.gif'); }
