/*  
Author: Colin Casey
Date: 7/20/2007
*/

/* patch for .yui-gb issue in Grids 2.3.0*/
.yui-gb .yui-u {float:left;}

body { background-color: #e8ebfc; text-align: justify; min-width: 950px; }
.innerwrap { width: 900px; margin: 0 auto; }
.textbox { margin: 0 3em; padding: 2em 0 1em; }
a { color: #425cbd; }
h1, h2, h3 { font-weight: bold; }
ul { margin-left: 1.5em; }
ul li { list-style-type: disc; }

#header { background-color: #070660; color: #fff; }
#header #title h1 { font-family: "Bookman Old Style"; font-size: 3em; line-height: 1.5em; letter-spacing: 3px; margin-bottom: 0; }
#header #title a { color: #fff; text-decoration: none; }
#header p { margin-bottom: 0; margin-top: -7px; }
#header a#leave-feedback { color: yellow; }
#header #leave-feedback:hover { text-decoration: underline; }

#header #cri { float: right; }
#header #cri span.fir { position: absolute; top: 7px; height: 55px; width: 120px; background: top center no-repeat url('../images/cri-logo.gif'); z-index: 4; }
#header #cri h2 { text-align: right; width: 120px; padding-top: 6px; height: 60px; overflow: hidden; margin-bottom: 0; }

#header #user_controls { display: none; }
#header #user_controls { float: right; clear: both; }
#header #user_controls .box { position: absolute; top: 0; z-index: 5; width: 200px; margin-left: -200px; text-align: right; }
#header #user_controls p { margin: 0; }
#header #user_controls a { color: #fff; font-weight: bold; }

#navigation { height: 4em; background-color: #6d718f; color: #fff; border-bottom: 1px solid #070660; }
#navigation ul { float: left; padding-top: 26px; margin-left: 7px; font-size: 1.3333333333333333em; line-height: 1.125em; margin-bottom: 0; font-weight: bold; }
#navigation li { display: inline; margin-right: 1px; padding: 3px 15px; border: 1px solid #070660; border-bottom: none; color: #8291ec; background-color: #e8ebfc; } 
#navigation li:hover { background-color: #fff; }
#navigation a { color: #8094bf; text-decoration: none; }
#navigation a:hover { color: #425cbd; }

#home #home-tab,
#about #about-tab,
#maps #maps-tab,
#forms #forms-tab,
#reports #reports-tab,
#search #search-tab { background-color: #fff; padding-top: 4px; padding-bottom: 4px; }
#home #home-tab a,
#about #about-tab a,
#maps #maps-tab a,
#forms #forms-tab a,
#reports #reports-tab a,
#search #search-tab a { color: #000; }

#navigation #quick-search { margin-top: 2px; }
#navigation #quick-search a { color: #fff; }
#navigation #quick-search a:hover { text-decoration: underline; }
#navigation #quick-search #search-box { width: 100%; margin-right: 20px; }
#navigation #quick-search #lbl_search { color: #fff; display: block; margin: 0; margin-bottom: -1px; font-size: 1.166666666667em; font-weight: bold; }
#navigation #quick-search #txt_search { width: 100%; color: #425cbd; background-color: #fff; font-size: 1.3333333333333333em; line-height: 1.125em; margin-bottom: 1.125em; padding: 0 2px; }
#navigation #quick-search div.btn { text-align: right; margin-top: -39px; margin-right: -3px; }
#navigation #quick-search #btn_search { position: relative; z-index: 100; width: 20px; height: 20px; border: none; overflow: hidden; font-size: 0em; color: #fff; background: #fff center no-repeat url('../images/search-button.gif'); }
#navigation #quick-search .adv-link { float: right; margin-top: 2px; margin-right: -6px; }

#headline { background-color: #fff; }
#headline #breadcrumbs { float: left; margin: -1em 0 1em; }
#headline p { margin: 0; font-size: 1.1666666666666667em; line-height: 1.2857142857142858em; margin-bottom: 1.2857142857142858em; }

#content { background-color: #e8ebfc; padding-bottom: 0; }
#content a { font-weight: bold; }

#footer { position: relative; bottom: 0; width: 100%; background-color: #fff; padding: 0; margin: 0; border-top: 2px solid #6D718F; }
#footer table { width: 100%; margin-top: 1em; clear: both; }
#footer table td { text-align: center; }
#footer p { margin: 1em 0 0; font-size: 1.3333333333333333em; font-weight: bold; padding: 3px; }
#footer #copyright { float: left; margin-left: 2em; }
#footer #timestamp { float: right; margin-right: 2em; }

x.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
x.clearfix {display: inline-block;}

x#content #search_form2 { float: right; margin-top: -80px; padding-right: 40px; }
#content #search_form2 #lbl_search2 { display: none; margin: 0; margin-bottom: -3px; font-size: 1.166666666667em; font-weight: bold; }
#content #search_form2 #txt_search2 { width: 100%;  color: #000; border: 1px solid #000; background-color: #fff; font-size: 1.3333333333333333em; line-height: 1.125em; margin-bottom: 1.125em; }
#content #search_form2 #btn_search2 { display: block; width: 20px; height: 20px; margin: -39px 0 10px 92%; border: none; overflow: hidden; font-size: 0em; color: #fff; background: #fff center no-repeat url('../images/search-button.gif'); }

.search_query { font-weight: bold; color: #425cbd; }

a.option { color: #488074; }

#contact-form #name, #contact-form #email, #contact-form #message { width: 100%; margin-bottom: 0.5em; }
#contact-form #message { height: 5em; }
#contact-form #submit { float: right; margin-bottom: 1em; }

.thumbnail { height: 50px; width: 50px; background-color: #fff; border: 1px solid black; text-align: center; float: left; margin: 0 1em 1em 0; }
#map-controls { margin-bottom: 1.125em; }
#map-controls a { margin: 0; font-size: 1.3333333333333333em; line-height: 1.125em; }
.title { margin-bottom: 0; }
#easymaps ul { margin-left: 0; }
#easymaps li { list-style: none; clear: both; }
#map-preview { height: 250px; width: 250px; background-color: #fff; border: 1px solid black; text-align: center; }
#large-preview-img { height: 250px; width: 250px; }

#form-addresses { width: 100%; }
#form-addresses th { font-weight: bold; text-decoration: underline; }
#form-addresses address { font-style: italic; }

/** DEBUGGING **/
a[href="#"] { color: Red; }

/** ADVANCED SEARCH **/
form#advanced-search label, 
form#advanced-search input { display: block; }
form#advanced-search label { margin-bottom: 0; }
form#advanced-search label.required { font-weight: bold; }
form#advanced-search input,
form#advanced-search select { margin-bottom: 1em; }
#watershed-units * { padding: 0; margin: 0; }
span.step-num { font-weight: bold; display: block; font-size: 1.5em; letter-spacing: 3px; margin-bottom: 0.2em; }
div.step { margin-bottom: 2em; }
#aoi-toggles { margin-bottom: 1em; }
div.area-of-interest { margin-bottom: 1em; }

/** RESOURCES **/
.resources span.resource { padding-right: 20px; }

/** VALIDATION **/
.validation-advice { color: Red; font-weight: bold; font-size: 1.2em; }
.validation-advice:before { content: " * " }

/** TABULAR **/
div.query-results { font-size: 1em; overflow: scroll; max-height: 300px; border: 1px solid #000; margin-bottom: 3em; }
div.query-results table { width: 100%; }
div.query-results table th { text-align: center; font-weight: bold; background: #6d718f; color: #fff; }
div.query-results table th,
div.query-results table td { border: 1px solid black; padding: 2px 5px; }
div.query-results table tr.even { background: #fff; }
div.query-results table tr.odd  { background: #eee; }

/** FEEDBACK FORM **/
#feedback-form-content { background: #eee; padding: 2em; }
#feedback-form-content label { display: block; margin: 0; }
#feedback-form-content input[type="text"] { width: 90%; }
#feedback-form-content textarea { width: 300px; height: 200px; }
#feedback-form-content div { }
#feedback-control { font-size: 1.6em; font-weight: bold; text-align: center; height: 24px; background-color: #ccc; padding: 5px; }

#interactive-maps,
#published-maps,
#published-reports { margin-bottom: 1em; }
#interactive-maps h2,
#published-maps h2,
#published-reports h2 { text-decoration: underline; margin: 1.5em 0 0.8em; }
.interactive-map,
.publication { clear: both; margin-bottom: 1em; }
.publication > * { margin-bottom: 0; }

#search-results .place { margin-bottom: 1em; }