<div id="published_maps">    
    <h2 style="text-decoration: underline;">Published Maps</h2>                
    <ul>
    #if($published_maps.Length == 0)
        <p>No Published Maps Found</p>
    #else
        #foreach( $map in $published_maps )
            <li>
                <h3><a href="$map.DefaultLink">$map.Title</a></h3>
                <p class="abstract">$map.Abstract</p>
                <p class="origin"><b>Origin:</b> $map.Origin</p>
                <p class="published"><b>Published:</b> $map.TimePeriod</p>
            </li>
        #end
    #end  
    </ul>
</div>
<div style="clear: both;"></div>

<div id="reports">
    <h2 style="text-decoration: underline;">Reports</h2>
    <ul>
    #if($reports.Length == 0)
        <p>No Reports Found</p>
    #else
        #foreach( $report in $reports )
            <li>
                <h3>
					<a href="$Resource.Href($report.DefaultLink)">$report.Title</a>
				</h3>
                <p class="abstract">$report.Abstract</p>
                <p class="origin"><b>Origin:</b> $report.Origin</p>
                <p class="published"><b>Published:</b> $report.TimePeriod</p>
            </li>
        #end
    #end      
    </ul>
</div>
<div style="clear: both;"></div>

<div id="datasets">
    <h2 style="text-decoration: underline;">Data</h2>
    <ul>
    #if($data.Length == 0 && $tabular.Length == 0)
        <p>No Data Found</p>
    #else
        #foreach( $item in $data )
            <li>
                <h3>
					<a href="$Resource.Href($item.DefaultLink)">$item.Title</a>
				</h3>
                <p class="abstract">$item.Abstract</p>                
                <p class="origin"><b>Origin:</b> $item.Origin</p>
                <p class="published"><b>Published:</b> $item.TimePeriod</p>
            </li>
        #end
        #foreach( $item in $tabular )
            <li>
                <h3>
					<a href="$Resource.Href($item.DefaultLink)">$item.Title</a>
				</h3>
                <p class="abstract">$item.Abstract</p>  
                <p class="origin"><b>Origin:</b> $item.Origin</p>
                <p class="published"><b>Published:</b> $item.TimePeriod</p>
                
                #component(resource with "metadata=$item")                
            </li>
        #end
    #end      
    </ul>
</div>
<div style="clear: both;"></div>