<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SJRAtlas.Metadata.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SJRAtlas.Metadata.Properties.Settings>
            <setting name="MetadataIndexPath" serializeAs="String">
                <value>c:\metadata\indexes\dev</value>
            </setting>
            <setting name="PrinceCommandLineExecutable" serializeAs="String">
                <value>C:\Program Files\Prince\Engine\bin\prince.exe</value>
            </setting>
        </SJRAtlas.Metadata.Properties.Settings>
    </applicationSettings>
</configuration>