<div class="interactive-map">
    <a rel="shadowbox" title="Preview: $title" href="$!{large_thumbnail_url}"><img class="thumbnail" alt="Map Preview" src="$!{thumbnail_url}"></a>
    <h3 class="title">$Atlas.MapLink($interactive_map)</h3>
    <p class="description">
        #if($description)
            $description
        #else
            No description available.
        #end
    </p>
</div>