<div class="interactive-map">
    <img class="thumbnail" alt="Map Preview" src="$!{thumbnail_url}">
    <h3 class="title">$Atlas.MapLink($title, $service_name, "%{cgns='true', coordinate=$coordinate}")</h3>
    <p class="description">$!{description}</p>
</div>