#capturefor(breadcrumb_trail)
$Url.Link('Home', "%{controller='site', action='index'}")
<span class="breadcrumb-separator">&#8722;</span>
<a href="#" title="Forms">Forms</a>
#end

#capturefor(headline)
<h1 class="title">Forms</h1>
<p>The NB Aquatic Data Warehouse, NB Department of Natural Resources, NB Department of Environment and NB Wildlife Council collaborated to create standardized data collection forms for various fisheries and environmental activities. The purpose of the forms is to ensure data is collected at the same level of detail and in the same manner.</p>
#end

<div class="yui-gc">		
    <div class="yui-u first">
        <h3 class="title">The following standardized data collection forms and manual are available:</h3>
        <ul>
            <li><a href="#" title="Download Water Temperature Data Logger Form">Water Temperature Data Logger Form</a></li>
            <li><a href="#" title="Download Fish Stocking Form">Fish Stocking Form</a></li>
            <li><a href="#" title="Download Electrofishing Forms">Electrofishing Forms</a></li>
            <li><a href="#" title="Download Individual Fish Measurements Form">Individual Fish Measurements Form</a></li>
            <li><a href="#" title="Download Aquatic Habitat Enhancement / Restoration Form">Aquatic Habitat Enhancement / Restoration Form</a></li>
            <li><a href="#" title="Download Environmental Stream Assessment">Environmental Stream Assessment</a></li>
            <li><a href="#" title="Download Stream Habitat Survey">Stream Habitat Survey</a></li>
            <li><a href="#" title="Download Water Flow Calculation Form">Water Flow Calculation Form</a></li>
        </ul>   
        <ul>
            <li><a href="#" title="Download Data Collection Form Manual">Data Collection Form Manual</a></li>            
        </ul>
        
        <p>These forms provide space to record many important details related to the specific activity, including particulars on the sampling site and methods used. Users should complete all applicable spaces on the forms. Accurately identifying the location of the activity is particularly important. Please record GPS coordinates if available, water body identification numbers (from NB Aquatic Data Warehouse), and textual descriptions. Also, note the locations on a 1:50,000 topographic map. The download package includes a manual for completing the forms.</p>
        <p>Upon completing the forms, please forward copies of all data, including paper forms, maps, and electronic files, such as digital photographs of sites, data logger output files, GPS coordinates, spreadsheets, Access files, etc., to one of the addresses below:</p>                
        <div id="form-addresses">
            <table>
                <thead>
                    <tr>
                        <th>Wildlife Trust Fund Projects</th>
                        <th>Other Projects</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> 
                            <address>                      
                            NB Wildlife Council,<br />
                            1350 Regent Street, Room 206<br />
                            Ancilliary Building<br />
                            Box 23019<br />
                            Fredericton, NB<br />
                            E3B 7B3<br />
                            Attention: Claire Caron
                            </address> 
                        </td>
                        <td>
                            <address>
                            Department of Natural Resources<br />
                            Fish and Wildlife Branch<br />
                            Fisheries Management Program<br />
                            PO Box 6000<br />
                            Fredericton, NB<br />
                            E3B 5H1<br />
                            Attention: Fisheries Data Program
                            </address>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="yui-u">
        <h2>Download</h2>
        <p><a href="$siteroot/Content/Standard-Forms.zip">Forms Package</a></p>
        <p>This package includes all standard forms and manual.</p>                                
    </div>   
</div>  