#capturefor(breadcrumb_trail)
$Url.Link('Home', "%{controller='site', action='index'}")
<span class="breadcrumb-separator">&#8722;</span>
<a href="#" title="Forms">Forms</a>
#end

#capturefor(headline)
<h1 class="title">Forms</h1>
<p>The NB Aquatic Data Warehouse, NB Department of Natural Resources, NB Department of Environment and NB Wildlife Council collaborated to create standardized data collection forms for various fisheries and environmental activities. The purpose of the forms is to ensure data is collected at the same level of detail and in the same manner.</p>
#end

<div class="yui-gc">		
    <div class="yui-u first">
        <p style="font-size: 14px">The following standardized data collection forms and manual are available:</p>
        <ul>
            <li><a href="$Atlas.ContentPath()/Data Collection Forms/Water Temperature Recorder Site Form - May 2006.pdf" title="Download Water Temperature Data Logger Form">Water Temperature Data Logger Form</a></li>
            <li><a href="$Atlas.ContentPath()/Data Collection Forms/Fish Stocking Form - May 2006.pdf" title="Download Fish Stocking Form">Fish Stocking Form</a></li>
            <li><a href="$Atlas.ContentPath()/Data Collection Forms/ElectroFishing Forms.zip" title="Download Electrofishing Forms">Electrofishing Forms Package</a>
                <ul style="margin-bottom: 0;">
                    <li><a href="$Atlas.ContentPath()/Data Collection Forms/Electrofishing Field Form - July 2002.pdf" title="Electrofishing Field Form">Electrofishing Field Form</a></li>
                    <li><a href="$Atlas.ContentPath()/Data Collection Forms/Electrofishing Site Form - May 2006.pdf" title="Electrofishing Site Form">Electrofishing Site Form</a></li>
                    <li><a href="$Atlas.ContentPath()/Data Collection Forms/Electrofishing Summary Form Part 1 - May 2006.pdf" title="Electrofishing Summary Form (Part 1)">Electrofishing Summary Form (Part 1)</a></li>
                    <li><a href="$Atlas.ContentPath()/Data Collection Forms/Electrofishing Summary Form Part 2 - May 2006.pdf" title="Electrofishing Summary Form (Part 2)">Electrofishing Summary Form (Part 2)</a></li>
                </ul>
            </li>
            <li><a href="$Atlas.ContentPath()/Data Collection Forms/Individual Fish Measurements Form - May 2006.pdf" title="Download Individual Fish Measurements Form">Individual Fish Measurements Form</a></li>
            <li><a href="$Atlas.ContentPath()/Data Collection Forms/Habitat Enhancement Form - May 2006.pdf" title="Download Aquatic Habitat Enhancement / Restoration Form">Aquatic Habitat Enhancement / Restoration Form</a></li>
            <li style="display:none"><a href="#" title="Download Environmental Stream Assessment">Environmental Stream Assessment</a></li>
            <li style="display:none"><a href="#" title="Download Stream Habitat Survey">Stream Habitat Survey</a></li>
            <li><a href="$Atlas.ContentPath()/Data Collection Forms/Water Flow Calculation Form - July 2002.pdf" title="Download Water Flow Calculation Form">Water Flow Calculation Form</a></li>
        </ul>   
        <ul>
            <li><a href="$Atlas.ContentPath()/Data Collection Forms/Fisheries Data Collection Forms Manual - May 2006.pdf" title="Download Data Collection Form Manual">Data Collection Form Manual</a></li>            
        </ul>
        
        <p>These forms provide space to record many important details related to the specific activity, including particulars on the sampling site and methods used. Users should complete all applicable spaces on the forms. Accurately identifying the location of the activity is particularly important. Please record GPS coordinates if available, water body identification numbers (from NB Aquatic Data Warehouse), and textual descriptions. Also, note the locations on a 1:50,000 topographic map. The download package includes a manual for completing the forms.</p>
        <p>Upon completing the forms, please forward copies of all data, including paper forms, maps, and electronic files, such as digital photographs of sites, data logger output files, GPS coordinates, spreadsheets, Access files, etc., to the Department of Natural Resources and if your project received funding from the Wildlife trust Fund also send a copy to them.  Addresses are provided below:</p>                
        <div id="form-addresses">
            <table>
                <thead>
                    <tr>
                        <th>Wildlife Trust Fund Projects</th>
                        <th>Other Projects</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> 
                            <address>                      
                            NB Wildlife Council,<br />
                            1350 Regent Street, Room 206<br />
                            Ancilliary Building<br />
                            Box 23019<br />
                            Fredericton, NB<br />
                            E3B 7B3<br />
                            Attention: Claire Caron
                            </address> 
                        </td>
                        <td>
                            <address>
                            Department of Natural Resources<br />
                            Fish and Wildlife Branch<br />
                            Fisheries Management Program<br />
                            PO Box 6000<br />
                            Fredericton, NB<br />
                            E3B 5H1<br />
                            Attention: Fisheries Data Program
                            </address>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="yui-u">
        <h2><a href="$Atlas.ContentPath()/Data Collection Forms/Standard Forms.zip">Download the complete forms package</a></h2>
        <p>This package includes all standard forms and manual.</p>                              
        <h2>Please note:</h2>
        <p>Adobe Acrobat is required to view the reports. </p>
        <div style="text-align: center;">
            <a href="http://www.adobe.com/products/acrobat/readstep2_allversions.html">
                <img src="http://www.adobe.com/products/acrobat/images/button209x32reader_int.jpg" />
            </a>
        </div>  
    </div>   
</div>  