#capturefor(headline)
<h1>About the Saint John River Atlas Web Site</h1>
<p>The Saint John River Atlas is an online tool for presenting and interacting with the extensive body of data and information associated with the Saint John River, New Brunswick's largest river system (covers approximately 40% of the province). The Saint John River is a multi-jurisdictional waterway with 48% of the basin within the Province of Québec and the State of Maine (<a target="_blank" href="$siteroot/Content/images/saint-john-river-basin.jpg">Map Image</a>).</p>
<p>The purpose of the atlas is to support ecosystem management, sustainable development and research by providing interactive mapping and visualization tools, plus convenient access to extensive resource data, maps, charts and reports.</p>
<p>This is a regional atlas project sponsored by GeoConnections Canada and the Province of New Brunswick. </p>
<div style="clear: both"></div>
#end

<div id="content" class="clearfix">	
	<div class="innerwrap">
	    <div class="textbox yui-gb">		
            <div class="yui-u first">                    
                <h2>Interactive Maps</h2>
                <div id="xeasymaps">
                    <ul>
                    #foreach( $map in $interactive_maps )
                        <li class="xeasymap">
                            <h4 class="title"><a target="_blank" href="http://gis.mektekdev.com/demo/Default.aspx?resource=$map.ServiceName">$map.Title</a></h4>
                        </li>
                    #end
                    </ul>
                </div>
                <p>Looking for $Url.Link('more maps', "%{controller='site', action='maps'}")</a>?</p>                    
            </div>
            <div class="yui-u">
                <h2>Quick Search</h2>                <p>Enter a place name, lake or stream name, data set name, or other text string to search for maps, reports, data and other information. See also: $Url.Link('Search Tips', "%{controller='search', action='tips'}")</p>
                               <form id="secondary_search_form" action="$siteroot/search/quick.rails" method="get">
		            <label id="secondary_lbl_search" for="txt_search2">Search:</label>
		            <input id="secondary_txt_search" name="q" type="text"/>
		            <input id="secondary_btn_search" name="submit" type="submit" value="Go"/>
	            </form>	            	            <p>This "Quick Search" can also be found in the navigation menu on every page in this site. </p>
	            <p>For other searches, try:</p>
	            <ul>
	                <li><a href="#">Coordinate Search</a></li>
	                <li><a href="http://www.canadapost.ca/tools/pcl/bin/advanced-e.asp">Postal Code Search</a></li>
	                <li><a href="#">Water Body Search</a></li>
	                <li>$Url.Link('Advanced Search', "%{controller='search', action='advanced'}")</li>
	                <li><a href="http://geodiscover.cgdi.ca/gdp/index.jsp?language=en">GeoConnections GeoPortal</a></li>
	            </ul>               
            </div>
            <div class="yui-u">
                <h2>Links</h2>                <ul>                                   <li><a href="http://www.weatheroffice.ec.gc.ca/forecast/canada/index_e.html?id=NB">Environment Canada's Weather Forecast</a></li>                    <li><a href="http://www.lau.chs-shc.gc.ca/cgi-bin/tide-shc.cgi?queryType=showRegion&language=english&region=5">Fisheries & Oceans Canada's Tide Tables</a></li>                    <li><a href="http://www.gnb.ca/public/fire-feu/index-e.asp">NB Natural Resource's Forest Fire Index</a></li>                    <li><a href="http://www.atl.ec.gc.ca/airquality/index_e.html">Environment Canada's Air Quality Services</a></li>                    <li><a href="http://www.hc-sc.gc.ca/index_e.html">Health Canada Health Advisories, Warnings & Recalls</a></li>                    <li><a href="http://www.gnb.ca/public/info-e.asp">NB Public Safety Alerts & Preparedness Information</a></li>                </ul>    
            </div>
        </div>
    </div>
</div>

