#capturefor(headline)		    
<h1 class="title">About the Maps</h1><p>There are 2 types of maps presented: interactive and published. Interactive maps present current data which are updated on a regular basis and through web mapping technology, clients can interact with the map, zooming into areas of interest and requesting information.  The published maps, on the other hand, are static and presented as PDF files.</p>
<p style="display: none">There is also an advanced interactive map for clients wishing access to more data and functionality. <span style="display: none;">Login is required. <a href="#">Click here to register</a>.</span></p>
<ul id="toc">
    <li><a href="#interactive-maps">Interactive Maps</a></li>
    <li><a href="#published-maps">Published Maps</a></li>
    <li><a href="$siteroot/Content/SJR Atlas User Manual - Release 1.pdf">Help</a></li>
</ul> 
#end

<a name="interactive-maps"></a>
<div id="interactive-maps">
    <h2 class="title">Interactive Maps:</h2>
    #if($interactive_maps.Count == 0)
        <p>No Interactive Maps</p>
    #else
        #parse("interactive_map/_list.vm")                        
    #end
</div>

<a name="published-maps"></a>
<div id="published-maps">  
    <h2 class="title">Published Maps:</h2>
    #if($published_maps.Count == 0)
        <p>No Published Maps</p>
    #else
        #parse("publication/_list_maps.vm")
    #end
</div>