<div class="info">   
  <h3 class="title">$title</h3>
  <div class="tabs">
    #component(place with "place=$place")
    
    #if($is_a_watershed)
      #component(watershed with "watershed=$place")
    #end 
    
    #if($is_a_waterbody)
        #component(waterbody with "waterbody=$place")
    #end
  </div>   
  <div class="map">
    <div class="preview">MAP</div>
    <div class="action"><a href="#">Open Map</a></div>
  </div>
</div>