<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
		<section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
	</configSections>
	<appSettings>
		<add key="CloseOutUrl" value="ApplicationClosed.aspx"/>
	</appSettings>
	<connectionStrings/>
	<castle>
		<!-- set the environment to either DEVELOPMENT or PRODUCTION -->
		<?define DEVELOPMENT?>
		<include uri="file://Config/properties.config"/>
		<include uri="file://Config/facilities.config"/>
		<include uri="file://Config/components.config"/>
	</castle>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="ESRI.ArcGIS.ADF.Web.UI.WebControls, Version=9.2.4.1420, Culture=neutral, PublicKeyToken=8FC3CC631E44AD86"/>
				<add assembly="ESRI.ArcGIS.ADF.Web, Version=9.2.4.1420, Culture=neutral, PublicKeyToken=8FC3CC631E44AD86"/>
				<add assembly="ESRI.ArcGIS.ADF, Version=9.2.4.1420, Culture=neutral, PublicKeyToken=8FC3CC631E44AD86"/>
				<add assembly="ESRI.ArcGIS.ADF.Web.DataSources, Version=9.2.4.1420, Culture=neutral, PublicKeyToken=8FC3CC631E44AD86"/>
				<add assembly="ESRI.ArcGIS.Geometry, Version=9.2.3.1380, Culture=neutral, PublicKeyToken=8FC3CC631E44AD86"/>
				<add assembly="ESRI.ArcGIS.Server, Version=9.2.3.1380, Culture=neutral, PublicKeyToken=8FC3CC631E44AD86"/>
				<add assembly="ESRI.ArcGIS.Geodatabase, Version=9.2.3.1380, Culture=neutral, PublicKeyToken=8FC3CC631E44AD86"/>
				<add assembly="ESRI.ArcGIS.Carto, Version=9.2.3.1380, Culture=neutral, PublicKeyToken=8FC3CC631E44AD86"/>
				<add assembly="ESRI.ArcGIS.ADF.Connection, Version=9.2.4.1420, Culture=neutral, PublicKeyToken=8FC3CC631E44AD86"/>
				<add assembly="ESRI.ArcGIS.System, Version=9.2.3.1380, Culture=neutral, PublicKeyToken=8FC3CC631E44AD86"/>
				<add assembly="ESRI.ArcGIS.ADF.Web.DataSources.Graphics, Version=9.2.4.1420, Culture=neutral, PublicKeyToken=8FC3CC631E44AD86"/>
				<add assembly="ESRI.ArcGIS.ADF.Tasks, Version=9.2.4.1420, Culture=neutral, PublicKeyToken=8FC3CC631E44AD86"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="ESRI.ArcGIS.ADF.Web.DataSources.ArcGISServer, Version=9.2.4.1420, Culture=neutral, PublicKeyToken=8FC3CC631E44AD86"/>
				<add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="ESRI.ArcGIS.ADF.ArcGISServer.Editor, Version=9.2.4.1420, Culture=neutral, PublicKeyToken=8FC3CC631E44AD86"/>
				<add assembly="ESRI.ArcGIS.ADF.ArcGISServer, Version=9.2.4.1420, Culture=neutral, PublicKeyToken=8FC3CC631E44AD86"/>
				<add assembly="ESRI.ArcGIS.Location, Version=9.2.3.1380, Culture=neutral, PublicKeyToken=8FC3CC631E44AD86"/></assemblies>
		</compilation>
		<pages theme="Blue_Bridge"/>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<customErrors defaultRedirect="ErrorPage.aspx">
		</customErrors>
	</system.web>
</configuration>
