<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<components>
		   
		<!-- MAP CONFIGURATION -->
		   <component id="init.properties"
					  service="InitializerProperties, App_Code"
					  type="InitializerProperties, App_Code"
					  lifestyle="singleton">
			   <parameters>
				   <graphicsResourceName>Graphics</graphicsResourceName>
				   <dataSourceType>#{dataSourceType}</dataSourceType>
				   <dataSourceDefinition>#{dataSourceDefinition}</dataSourceDefinition>
				   <host>#{arcGisHost}</host>
			   </parameters>
		   </component>

	   </components>
</configuration>