<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<properties>
		   
		<?if PRODUCTION?>
		<!-- PRODUCTION MODE -->
		<loggingConfig>Config\logging.production.config</loggingConfig>
		<dataWarehouseConnectionString>Data Source=.;Initial Catalog=dataWarehouse;User Id=atlasSite;Password=E2GypudeuI4wHKiBhozf3NVr2H0BdP4Ia5Zplt49NbAsfVxPEpXHsQyXdhI3sOR</dataWarehouseConnectionString>
		<arcGisHost>NBWATERS</arcGisHost>
		<dataSourceType>ArcGIS Server Internet</dataSourceType>
		<dataSourceDefinition>http://cri.nbwaters.unb.ca/arcgis/services</dataSourceDefinition>
		<?end?>

		<?if DEVELOPMENT?>		
		<!-- DEVELOPMENT MODE -->
		<loggingConfig>Config\logging.config</loggingConfig>
		<dataWarehouseConnectionString>Data Source=.;Initial Catalog=dw_staging;Integrated Security=True</dataWarehouseConnectionString>
		<arcGisHost>D65C2FD1</arcGisHost>
		<dataSourceType>ArcGIS Server Internet</dataSourceType>
		<dataSourceDefinition>http://D65C2FD1/arcgis/services</dataSourceDefinition>
		<?end?>
		
	</properties>
</configuration>