#capturefor(header)
<link rel="stylesheet" type="text/css" href="/Content/javascripts/ext-2.0.1/resources/css/ext-all.css" />
<script src="/Content/javascripts/ext-2.0.1/adapter/prototype/ext-prototype-adapter.js" type="text/javascript" language="javascript"></script>
<script src="/Content/javascripts/ext-2.0.1/ext-all-debug.js" type="text/javascript" language="javascript"></script>
#end

#capturefor(headline)
<h1>Tabular Data</h1>
#end



<div id="content" class="clearfix">	
	<div class="innerwrap">
		<div class="textbox">	
		    <div id="tabular">
		    
		        #set($count = 0)
		        #foreach($ext_grid in $ext_grids)
		            <div id="table-$count" class="table">
		            </div> 
		            
		            <script language="javascript" type="text/javascript">
		            var store = new Ext.data.JsonStore({
		                url: 
		                fields: $ext_grid.Fields()	                
		            });
		            store.loadData($ext_grid.Data());
		            
		            var grid = new Ext.grid.GridPanel({
		                store: store,
		                columns: $ext_grid.Columns(),
		                stripeRows: true,
		                frame: true,
		                height: 300,
		                width: 800,
		                bbar: new Ext.PagingToolbar({
		                    pageSize: 50,
		                    store: store,
		                    displayInfo: true,
		                    displayMsg: 'Displaying rows {0} - {1} of {2}',
		                    emptyMsg: 'No rows to display'
		                })               
		            });
		            
		            grid.render('table-$count');		            
		            </script>
		            
		            #set($count = $count + 1)
		        #end
		        
		    </div>                    
        </div>
	</div>
</div>
