<p>If a valid place name is entered in the Quick Search, a Google map displays the locations of places containing the place name text. Click on a red marker on the Google map to display information on the place or click on one of the place names listed beside the map. The place name list is grouped by type of place, such as river, city, unincorporated area, etc.</p>
<p>Clicking on a marker will open a balloon text box containing more information on the site with the option to display more details which will present additional search results if any maps, reports or data are found for the place.</p>
<p>Clicking on a listed place name will cause the map to zoom to the selected place and pop up the place name details in a balloon text box. Clicking on More Details in the text box will present additional search results if any maps, reports or data are found for the place.</p>
<p>Note: Both official and rescinded place names are presented. Rescinded place no longer have an official status within the Canadian Geographical Place Names database, but may still be used locally. For example, the Campbell River within the Tobique River watershed is a rescinded name, but may be used locally to refer to the Right Hand Branch Tobique River.</p>