<p>Interactive maps are maps published by the NB Aquatic Data Warehouse using local data as well as layers from other agencies that publish their data through web mapping services (wms). These are not static maps; they display the most current version of the data. And as the name implies, visitors can interact with the maps through map tools and tasks.</p>