<p>There are several ways of accessing interactive maps:</p>
<ol>
    <li>Click on one of the links on the Atlas’ home page</li>
    <li>Click on the Maps tab to view a list of interactive maps, their descriptions and map previews (see Map page below)</li>
    <li>Results from a Quick Search will present a list of interactive maps if appropriate (see Search section below)</li>
</ol>

<p>All of the interactive maps have the same interface (Figure 1) consisting of a title bar area, tool bar area, the map window and a collection of map interaction/information windows to the left. The interaction/information windows can be resized, or expanded/collapsed, docked/undocked using the triangle ( &#9650; or &#9660; ) and arrow ( &gt;&gt; or &lt;&lt; ) symbols, respectively, within the title bar. </p>

<p>Undocking an interaction/information window moves the window into the map area so it can be moved elsewhere. They can also be resized by clicking and holding on the bottom or vertical edges of the window.</p>

<p>The order of the map interaction windows can be rearranged by right clicking on the title bar of one of the windows. A context menu appears; the window can be moved to the top or bottom or up/down one step at a time.</p>

<p>If a larger map window is desired, the collection of map interaction windows (tasks, results, etc.) can be hidden by clicking on the &#9664; symbol on the vertical bar to the left side of the map window. </p>

<p>The following provides an overview of the sections of the interactive map window: </p>

<table>
    <tr>
        <td class="first">Toolbar:</td>
        <td><p>Hover the mouse over a tool and the tool name will be displayed
Click on the tool to activate the tool</p>
        <p>Tools include Zoom In, Zoom  Out, Return to Previous Extent, Pan, Zoom to Full Extent, Measure, Add Graphics, Set Scale</p></td>
    </tr>
    <tr>
        <td class="first">Other Maps</td>
        <td><p>Drop down box with list of other interactive maps in Atlas</p></td>
    </tr>    
    <tr>
        <td class="first">Tasks:</td>
        <td><p>There is currently one task available: Select Features</p></td>
    </tr>    
    <tr>
        <td class="first">Map Contents:</td>
        <td><p>Legend for the map contents</p>
        <p>Layers can be turned on / off</p></td>
    </tr>
    <tr>
        <td class="first">Table Results:</td>
        <td><p>Presents attributes from Select Features task. Attributes are presented in table format with options to zoom or pan to selected features and to download the data.</p></td>
    </tr>
</table>
	