The Atlas presents 2 types of maps: interactive and published. <a title="Interactive Maps" href="/site/maps.castle#interactive-maps">Interactive maps</a> are published by the NB Aquatic Data Warehouse and present current data through web mapping technology; you can interact with the map, zooming into areas of interest and requesting information. <a title="Published Maps" href="/site/maps.castle#published-maps">Published maps</a>, on the other hand, are static and presented as PDF documents; they are current as of the published date.