<table>
    <tr>
        <td class="first">Zoom In:</td>
        <td><p>Click on the tool (mouse changes to crosshairs) then click on the map to have the map zoom in by a fixed amount and re-center the map on the click point.</p>
        <p>Click on the tool (mouse changes to crosshairs) then use the mouse to draw a rectangle around the area of interest. The map will zoom to this area.</p></td>
    </tr>
    <tr>
        <td class="first">Zoom Out:</td>
        <td><p>	Click on the tool (mouse changes to crosshairs) then click on the map to have the map zoom out by a fixed amount and re-center the map on the click point.</p></td>
    </tr>    
    <tr>
        <td class="first">Previous Extent:</td>
        <td><p>Returns to area previously viewed in the map window.</p></td>
    </tr>
    <tr>
        <td class="first">Pan:</td>
        <td><p>Click on the tool (mouse changes to crosshairs with arrow ends) then click and hold the mouse to move the map in the desired direction. </p></td>
    </tr>
    <tr>
        <td class="first">Full Extent:</td>
        <td><p>Clicking on the tool automatically zooms the map out to the maximum extent (e.g. Saint John River basin).</p></td>
    </tr>
    <tr>
        <td class="first">Measure:</td>
        <td><p>Clicking on the Measure tool opens a small window which provides 3 measure options:  get the coordinates of a point, get the distance of a line drawn on the map, and get the area of a polygon drawn on the map.</p>
<p>Click the desired option, then click a point or draw a line or polygon as appropriate for the measure option. Double click to finish the end of a line or to close a polygon. The resulting measurements (coordinates, distance or area) are presented in the Measure window. Distance and area results include drop down boxes to change the unit of measure. Coordinates will be in meters, representing New Brunswick’s NAD83(CSRS) NB Double Stereographic spatial reference system. </p></td>
    </tr>
    <tr>
        <td class="first">Add Graphics:</td>
        <td><p>Clicking on the Graphics tool opens a small window which presents 5 tools for drawing lines, polygons or text, plus options to set outline and fill colors and fill type.</p>
        <p>Double click the line’s end or the polygon’s last vertex to complete the graphic.</p></td>
    </tr>
    <tr>
        <td class="first">Set Scale:</td>
        <td><p>Clicking on the Set Scale tool opens a small window displaying the current extent. Use the drop down arrow to select one of seven preset scales. The map will zoom to the selected scale.</p></td>
    </tr>
</table>