/*  
Author: Colin Casey
Date: 3/13/2008
*/
#navigation #quick-search {
	width: 227px;
}
#navigation #quick-search #search-box {
	width: auto; 
	padding: 0;
}
#navigation #quick-search #txt-search {
	width: 216px; 
	margin-bottom: 2px; 
}
#navigation #quick-search #btn-search {
	margin: -26px 6px 0 0; 
}

#site.index #content #alt-search-form #btn-alt-search {	
	margin: -37px 4px 0 0;
}