/*  
Authors: Colin Casey & Vince McMullin
Date: 2/26/2008
*/

/* patch for .yui-gb issue in Grids 2.3.0*/
.yui-gb .yui-u { float:left; }

/* highlights empty links - for debugging purposes 
a[href="#"] { color: red; }
*/

/* BASE TYPOGRAPHY */
body {
	font-size: 12px;
	line-height: 1.5em;
	margin: 0; 
	padding: 0;	
	font-family: Helvetica, Arial, Sans-Serif;
}
h1 {
	margin: 0;
	font-size: 1.6666666666666667em;
	line-height: 0.9em;
	margin-bottom: 0.9em;
}
h2 {
	margin: 0;
	font-size: 1.5em;
	line-height: 1em;
	margin-bottom: 1em;
}
h3 {
	margin: 0;
	font-size: 1.3333333333333333em;
	line-height: 1.125em;
	margin-bottom: 1.125em;
}
h4 {
	margin: 0;
	font-size: 1.1666666666666667em;
	line-height: 1.2857142857142858em;
	margin-bottom: 1.2857142857142858em;
}
p, ul, blockquote, pre, td, th, label {
	margin: 0;
	font-size: 1em;
	line-height: 1.5em;
	margin-bottom: 1.5em;
}
p.small {
	margin: 0;
	font-size: 0.8333333333333334em;
	line-height: 1.8em;
	margin-bottom: 1.8em;
}

/* STYLES */
body {
	background-color: #174982; 
	text-align: justify; 
	min-width: 950px; 
}

a { color: #425cbd; text-decoration: none; }
a:hover { text-decoration: underline; }
a.help { color: red; float: right; }
a.option { color: #488074; }
h1.title { font-weight: bold; }
ul { margin-left: 1.5em; }
ul li { list-style-image: url('../images/bullet.jpg'); }

#container {
	width: 935px; 
	margin: 0 auto; 
}

#header {
	background-color: #070660; 
	color: #fff; 
	height: 241px; 
}
#header a {
	color: #fff; 
	text-decoration: none; 
}
#header .fir {
	background: top center no-repeat url('../images/Banner.jpg'); 
	position: absolute;
	height: 241px; 
	width: 935px; 
}
#header .title {
	font-family: "Bookman Old Style"; 
	font-size: 3em; 
	line-height: 1.5em; 
	letter-spacing: 3px; 
	margin-bottom: 0;
	padding-left: 20px; 
}
#header .sponsor {
	font-style: italic;
	font-weight: normal;
	padding-left: 20px;
}

#feedback {		
	background-color: #e8ebfc;
	text-align: right;
	display: none;
}
#leave-feedback {
	color: red;
	padding-right: 10px;
}
#leave-feedback:hover { text-decoration: underline; }

#navigation {
	padding-top: 10px;
	background-color: #e8ebfc; 
	color: #fff; 	
}
#navigation #tabs {
	float: left; 
	width: 705; 
}
#navigation #tabs ul {
	padding-top: 17px; 
	margin-left: 7px; 
	font-size: 1.3333333333333333em; 
	line-height: 1.125em; 
	margin-bottom: 0; 
	font-weight: bold; 
}
#navigation #tabs li {
	float: left;
	margin-right: 5px; 
	color: #fff; 
	width: 111px;
	list-style: none;
} 
#navigation #tabs a {
	text-align: center;
	padding-top: 7px;
	display: block;
	height: 24px;
	background: url('../images/menu.jpg') no-repeat; 
	color: #fff; 
	text-decoration: none; 
}
#navigation #tabs a:hover {
	background-image: url('../images/menu_active.jpg');
}
#site.index     #navigation  #home-tab    a,
#site.about     #navigation  #about-tab   a,
#site.maps      #navigation  #maps-tab    a,
#site.forms     #navigation  #forms-tab   a,
#site.reports   #navigation  #reports-tab a,
#search.index   #navigation  #search-tab  a {
	background-image: url('../images/menu_active.jpg'); 
}

#navigation #quick-search {
	float: left; 
	width: 230px;
}
form div.btn {
	text-align: right; 
}
form div.btn input {
	position: relative; 
	z-index: 100; 
	width: 20px; 
	height: 20px; 
	border: none; 
	overflow: hidden; 
	font-size: 0em; 
	color: #fff; 
	background: #fff center no-repeat url('../images/search-button.gif'); 
}
#navigation #quick-search #search-box {
	width: 100%; 
	padding: 0 10px 0 5px;
}
#navigation #quick-search #lbl-search {
	color: #000; 
	display: block; 
	margin: 0; 
	margin-bottom: -1px; 
	font-size: 1.166666666667em; 
	font-weight: bold; 
}
#navigation #quick-search #txt-search {
	width: 215px; 	
}
#navigation #quick-search #btn-search {
	margin: -41px 5px 0 0; 
}
#navigation #quick-search .adv-link {
	float: right; 
	margin-top: 1px; 
	padding-right: 5px;
}
#navigation #quick-search .adv-link a {
	color: #174982; 
}
#navigation #quick-search .adv-link a:hover {
	text-decoration: underline; 
}
.search {
	color: #425cbd; 
	background-color: #fff; 
	font-size: 1.3333333333333333em; 
	line-height: 1.125em; 
	margin-bottom: 1.125em;	 
	padding: 2px 2px; 
	border: 1px solid #a5acb2;
}

#navigation #breadcrumbs {
	clear: both;
	background-color: #174982;
	padding: 5px 10px;
	border: 1px solid #fff;
	border-top: none;
}
#navigation #breadcrumbs .location {
	padding-right: 5px;
	color: #f5d55c;
	font-weight: bold;
}
#navigation #breadcrumbs a {
	color: #fff;
}

#main {
	background: #fff; 
}

#headline {	
	color: #174982;
	padding: 2em 0 1em; 
	width: 880px;
	margin: 0 auto; 
}
#headline .title 
{
	font-size: 1.66667em;
	color: #000;
	margin-bottom: 0.9em;
	line-height: 0.9em;
}
#headline p {
	margin: 0; 
	font-size: 1.1666666666666667em; 
	line-height: 1.2857142857142858em; 
	margin-bottom: 1.2857142857142858em; 
	color: #000;
}
#headline li {
	font-size: 12px; 
}

#content {
	padding: 0 0 2em; 
	width: 880px; 
	margin: 0 auto;
}

#footer {
	position: relative; 
	bottom: 0; 
	width: 100%; 
	background-color: #174a83; 
	padding: 10px 0; 
	margin: 0; 
	border-top: 2px solid #000; 
	color: #fff;
}
#footer p {
	text-align: right;
	font-size: 110%;
	font-style: italic;	
	font-weight: bold;
	margin-bottom: 0;
	padding-right: 20px;
}

/* PAGE CONTENT STYLES */
#content #interactive-maps,
#content #published-maps,
#content #published-reports,
#content #datasets
{
	margin-bottom: 2em;	
	clear: both;
}
#content .publication,
#content .interactive-map,
#content .dataset {
	margin-left: 1em;
	margin-bottom: 1.5em;
	clear: both;
}
#content .publication .title,
#content .interactive-map .title,
#content .dataset .title {
	margin-bottom: 5px;
	font-size: 14px;
}
#content .publication p,
#content .interactive-map p,
#content .dataset p {
	margin-bottom: 0;
}
#content .dataset .presentations span.presentation-link {
	padding-right: 15px;
}
#content #rescue .exception {
	overflow: scroll;
	background-color: #efefef;
	font-family: Consolas, "Lucida Console", monospace;
	padding: 10px 10px 0;
}

#site.index #content .box {
	float: left;
	width: 282px;
	margin-left: 17px;
}
#site.index #content #interactive-maps.box {
	margin-left: 0;
}
#site.index #content .box .header {
	background: url('../images/back_title.jpg') no-repeat;
	height: 34px;
	color: #fff;
	padding-left: 20px;
	padding-top: 10px;
	margin-bottom: 0;
	font-weight: bold;
	font-size: 16px;
}
#site.index #content .box .body {
	background: url('../images/background_box.jpg') repeat-y;
	color: #000;
	padding: 0 10px;
}	
#site.index #content .box .body .last {
	margin-bottom: 0;
	height: 1px;
}	
#site.index #content .box .footer {
	background: url('../images/footer_box.jpg') no-repeat;
	height: 10px;
}	
#site.index #content li {
	margin-bottom: 5px;
}
#site.index #content li.interactive-map .title {
	margin-bottom: 0;	
	font-size: 12px;
}
#site.index #content #alt-search-form #lbl-alt-search {
	margin: 0; 
	margin-bottom: -3px; 
	font-size: 1.166666666667em; 
	font-weight: bold; 
}
#site.index #content #alt-search-form #txt-alt-search {
	width: 250px; 
}
#site.index #content #alt-search-form #btn-alt-search {
	margin: -41px 7px 0 0; 
	height: 30px;
}

#site.about #content .contact p {
	font-style: italic;
}

#site.forms #content #form-addresses table {
	width: 100%; 
}
#site.forms #content #form-addresses table th {
	font-weight: bold; 
	text-decoration: underline; 
}
#site.forms #content #form-addresses table address {
	font-style: italic; 
}

#site.help ul.toc li {
	list-style-type: decimal;	
	list-style-image: none;	
}
#site.help ul.toc ul {
	margin-bottom: 7px;
}
#site.help ul.toc ul li {
	list-style-type: lower-alpha;
}

#presentation.view #content .table {
	margin-bottom: 30px;
}

#help .toc {
	font-weight: normal;	
}
#help #help-contents .section {
	margin-bottom: 2.2em;
}
#help #help-contents .section .title {
	font-size: 18px;
}
#help #help-contents .section .contents .section {
	margin-left: 2em;
}
#help #help-contents .section .contents .section .title {
	font-size: 14px;
	text-decoration: underline;
}
#help #help-contents .section table td.first 
{
	vertical-align: top;
	font-weight: bold;
	font-style: italic;
	text-align: left;
	width: 100px;
	padding-right: 20px;
}

.search-query {
	font-weight: bold; 
	color: #425cbd; 
}

.interactive-map img.thumbnail {
	height: 100px;
	width: 100px;
	float: left;
	margin: 0 1em 1.5em 0;
}

.abstract,
.abstract-toggle {
	background-color: #fff;
	color: #013;
	padding: 8px 1em 4px;	
}
.abstract-toggle a {
	color: #000;
}

/* PLACE NAME SEARCH PAGE */
.x-tree ul {
	margin: 0;
}
.x-tree ul li {
	list-style-image: none;	
}
.place-info-window h3 {
	margin-bottom: 7px;
}
.place-info-window p {
	margin: 0 1em;
}
.place-info-window p span {
	font-weight: bold;
}
.place-info-window a {
	display: block;
	margin-top: 7px;
}

/* ADVANCED SEARCH PAGE */
.dataset-list-item { 
	padding: 3px 5px;
}
.dataset-list-item h3 {
	margin-bottom: 0;
	font-size: 13px;	
}
.waterbody-search-item {
	padding: 3px 5px;
}
.waterbody-search-item h3 {
	font-size: 14px;
}
.waterbody-search-item * {
	padding: 0;
	margin: 0;
}
.watershed-search-item {
	padding: 3px 5px;
}
.watershed-search-item h3 {
	font-size: 14px;
}
.watershed-search-item * {
	padding: 0;
	margin: 0;
}
.aquaticsite-search-item {
	padding: 3px 5px;
}
.aquaticsite-search-item h3 {
	font-size: 14px;
}
.aquaticsite-search-item * {
	padding: 0;
	margin: 0;
}
.agency-list-item {
	padding: 3px 5px;
}
.agency-list-item h3 {	
	font-weight: normal;
	font-size: 12px;
}
.agency-list-item * {
	padding: 0;
	margin: 0;
}

#help.index ol {
	margin: 0 0 1.5em 3em;
}
#help.index ol li {
	list-style-type: decimal;
}

h2.title {
	font-weight: normal;
	color: #555;
}
h3.title {
	text-decoration: underline;
	color: #425CBD	
}

.x-date-menu ul.x-menu-list {
	list-style: none;
	margin: 0;
}
.x-date-menu ul.x-menu-list li {
	list-style-image: none;
}