/*  
Authors: Colin Casey & Vince McMullin
Date: 2/26/2008
*/

/* patch for .yui-gb issue in Grids 2.3.0*/
.yui-gb .yui-u { float:left; }

/* highlights empty links - for debugging purposes */
a[href="#"] { color: red; }

body {
	background-color: #6d718f; 
	text-align: justify; 
	min-width: 950px; 
}
a { color: #425cbd; }
a.help { color: red; float: right; }
a.option { color: #488074; }
h1, h2, h3 { font-weight: bold; }
ul { margin-left: 1.5em; }
ul li { list-style-image: url('../images/bullet.jpg'); }

#container {
	width: 935px; 
	margin: 0 auto; 
}

#header {
	background-color: #070660; 
	color: #fff; 
	height: 241px; 
}
#header a {
	color: #fff; 
	text-decoration: none; 
}
#header .fir {
	background: top center no-repeat url('../images/Banner.jpg'); 
	position: absolute;
	height: 241px; 
	width: 935px; 
}
#header .title {
	font-family: "Bookman Old Style"; 
	font-size: 3em; 
	line-height: 1.5em; 
	letter-spacing: 3px; 
	margin-bottom: 0;
	padding-left: 20px; 
}
#header .sponsor {
	font-style: italic;
	font-weight: normal;
	padding-left: 20px;
}

#feedback {		
	background-color: #e8ebfc;
	text-align: right;
	display: none;
}
#leave-feedback {
	color: red;
	padding-right: 10px;
}
#leave-feedback:hover { text-decoration: underline; }

#navigation {
	padding-top: 10px;
	background-color: #e8ebfc; 
	color: #fff; 
	border-bottom: 1px solid #070660; 
}
#navigation #tabs {
	float: left; 
	width: 705; 
}
#navigation #tabs ul {
	padding-top: 17px; 
	margin-left: 7px; 
	font-size: 1.3333333333333333em; 
	line-height: 1.125em; 
	margin-bottom: 0; 
	font-weight: bold; 
}
#navigation #tabs li {
	float: left;
	margin-right: 5px; 
	color: #fff; 
	width: 111px;
	list-style: none;
} 
#navigation #tabs a {
	text-align: center;
	padding-top: 7px;
	display: block;
	height: 24px;
	background: url('../images/menu.jpg') no-repeat; 
	color: #fff; 
	text-decoration: none; 
}
#navigation #tabs a:hover {
	background-image: url('../images/menu_active.jpg');
}
#site.index     #navigation  #home-tab    a,
#site.about     #navigation  #about-tab   a,
#site.maps      #navigation  #maps-tab    a,
#site.forms     #navigation  #forms-tab   a,
#site.reports   #navigation  #reports-tab a,
#search.index   #navigation  #search-tab  a {
	background-image: url('../images/menu_active.jpg'); 
}

#navigation #quick-search {
	float: left; 
	width: 230px;
}
#navigation #quick-search #search-box {
	width: 100%; 
	padding: 0 10px 0 5px;
}
#navigation #quick-search #lbl_search {
	color: #000; 
	display: block; 
	margin: 0; 
	margin-bottom: -1px; 
	font-size: 1.166666666667em; 
	font-weight: bold; 
}
#navigation #quick-search #txt_search {
	width: 215px; 
	color: #425cbd; 
	background-color: #fff; 
	font-size: 1.3333333333333333em; 
	line-height: 1.125em; 
	margin-bottom: 1.125em; 
	padding: 0 2px; 
}
#navigation #quick-search .btn {
	text-align: right; 
	margin-top: -40px; 
	margin-right: 3px; 
}
#navigation #quick-search #btn_search {
	position: relative; 
	z-index: 100; 
	width: 20px; 
	height: 20px; 
	border: none; 
	overflow: hidden; 
	font-size: 0em; 
	color: #fff; 
	background: #fff center no-repeat url('../images/search-button.gif'); 
}
#navigation #quick-search .adv-link {
	float: right; 
	margin-top: 1px; 
	padding-right: 5px;
 }
#navigation #quick-search .adv-link a { color: red; }
#navigation #quick-search .adv-link a:hover { text-decoration: underline; }

#navigation #breadcrumbs {
	clear: both;
	background-color: #174982;
	padding: 5px 10px;
}
#navigation #breadcrumbs .location {
	padding-right: 5px;
	color: #f5d55c;
	font-weight: bold;
}
#navigation #breadcrumbs a {
	color: #fff;
}

#main {
	background: #d8e6ef no-repeat center top url('../images/main_back.jpg'); 
}

#headline {	
	color: #174982;
	padding: 2em 0 1em; 
	width: 880px;
	margin: 0 auto; 
}
#headline .title 
{
	font-size: 1.66667em;
	color: #000;
	margin-bottom: 0.9em;
	line-height: 0.9em;
}
#headline p {
	margin: 0; 
	font-size: 1.1666666666666667em; 
	line-height: 1.2857142857142858em; 
	margin-bottom: 1.2857142857142858em; 
}

#content {
	padding: 0 0 2em; 
	width: 880px; 
	margin: 0 auto;
}
#content a { font-weight: bold; }

#footer {
	position: relative; 
	bottom: 0; 
	width: 100%; 
	background-color: #174a83; 
	padding: 10px 0; 
	margin: 0; 
	border-top: 2px solid #000; 
	color: #fff;
}
#footer p {
	text-align: right;
	font-size: 110%;
	font-style: italic;	
	font-weight: bold;
	margin-bottom: 0;
	padding-right: 20px;
}

/* PAGE CONTENT STYLES */
#content #expanded-info #interactive-maps,
#content #expanded-info #published-maps,
#content #expanded-info #published-reports,
#content #expanded-info #datasets
{
	margin-bottom: 2em;	
}
#content .publication,
#content .interactive-map,
#content .dataset {
	margin-left: 1em;
	margin-bottom: 1.5em;
}
#content .publication .title,
#content .interactive-map .title,
#content .dataset .title {
	margin-bottom: 5px;
}
#content .publication p,
#content .interactive-map p,
#content .dataset p {
	margin-bottom: 0;
}
#content .dataset .presentations span.presentation-link {
	padding-right: 15px;
}
#content #rescue .exception {
	overflow: scroll;
	background-color: #efefef;
	font-family: Consolas, "Lucida Console", monospace;
	padding: 10px 10px 0;
}

#site.index #content .box {
	float: left;
	width: 282px;
	margin-left: 17px;
}
#site.index #content #interactive-maps.box {
	margin-left: 0;
}
#site.index #content .box .header {
	background: url('../images/back_title.jpg') no-repeat;
	height: 34px;
	color: #fff;
	padding-left: 20px;
	padding-top: 10px;
	margin-bottom: 0;
}
#site.index #content .box .body {
	background: url('../images/background_box.jpg') repeat-y;
	color: #000;
	padding: 0 10px;
}	
#site.index #content .box .body .last {
	margin-bottom: 0;
	height: 1px;
}	
#site.index #content .box .footer {
	background: url('../images/footer_box.jpg') no-repeat;
	height: 10px;
}	
#site.index #content li {
	margin-bottom: 5px;
}
#site.index #content li.interactive-map .title {
	margin-bottom: 0;	
}
#site.index #content #alt_search_form #lbl_alt_search {
	margin: 0; 
	margin-bottom: -3px; 
	font-size: 1.166666666667em; 
	font-weight: bold; 
}
#site.index #content #alt_search_form #txt_alt_search {
	width: 250px; 
	color: #425cbd; 
	background-color: #fff; 
	font-size: 1.3333333333333333em; 
	line-height: 1.125em; 
	margin-bottom: 1.125em; 
	padding: 0 2px; 
}
#site.index #content #alt_search_form #btn_alt_search {
	display: block; 
	width: 20px; 
	height: 20px; 
	margin: -40px 0 10px 235px; 
	border: none; 
	overflow: hidden; 
	font-size: 0em; 
	color: #fff; 
	background: #fff center no-repeat url('../images/search-button.gif'); 
}

#site.about #content .contact p {
	font-style: italic;
}

#site.forms #content #form-addresses table {
	width: 100%; 
}
#site.forms #content #form-addresses table th {
	font-weight: bold; 
	text-decoration: underline; 
}
#site.forms #content #form-addresses table address {
	font-style: italic; 
}

#site.help ul.toc li {
	list-style-type: decimal;	
	list-style-image: none;	
}
#site.help ul.toc ul {
	margin-bottom: 7px;
}
#site.help ul.toc ul li {
	list-style-type: lower-alpha;
}

#presentation.view #content .table {
	margin-bottom: 30px;
}

#search .search-query {
	font-weight: bold; 
	color: #425cbd; 
}