<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<components>
		<component id="basic_info"
				 type="SJRAtlas.Site.Components.BasicInfoComponent, SJRAtlas.Site"/>
		<component id="place_info"
				 type="SJRAtlas.Site.Components.PlaceInfoComponent, SJRAtlas.Site"/>
		<component id="interactive_map" type="SJRAtlas.Site.Components.InteractiveMapComponent, SJRAtlas.Site"/>
		<component id="publication" type="SJRAtlas.Site.Components.PublicationComponent, SJRAtlas.Site"/>
	</components>
</configuration>