<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<components>
    <component id="placenamesearch.service" service="SJRAtlas.Core.IPlaceNameLookup, SJRAtlas.Core"
               type="SJRAtlas.CGNS.GeographicalNameSearchService, SJRAtlas.CGNS" />
    <component id="watershedsearch.service" service="SJRAtlas.Core.IWatershedLookup, SJRAtlas.Core"
               type="SJRAtlas.DataWarehouse.DrainageUnitLookup, SJRAtlas.DataWarehouse" />
    <component id="metadatasearch.service" service="SJRAtlas.Core.IMetadataLookup, SJRAtlas.Core"
               type="SJRAtlas.Metadata.MetadataLookup, SJRAtlas.Metadata">
      <parameters>
        <metadataIndexPath>#{path_to_metadata_index}</metadataIndexPath>
      </parameters>
    </component>
    <component id="easymapsearch.service" service="SJRAtlas.Core.IEasyMapLookup, SJRAtlas.Core"
               type="SJRAtlas.Site.EasyMapLookup, SJRAtlas.Site" />

    <component id="atlas.utils" service="SJRAtlas.Core.IAtlasUtils, SJRAtlas.Core"
               type="SJRAtlas.DataWarehouse.DWAtlasUtils, SJRAtlas.DataWarehouse" />
    <component id="metadata.utils" service="SJRAtlas.Core.IMetadataUtils, SJRAtlas.Core"
               type="SJRAtlas.Metadata.MetadataUtils, SJRAtlas.Metadata" />

    <component id="gnss.webapi" service="SJRAtlas.CGNS.IGnssWebApi, SJRAtlas.CGNS" type="SJRAtlas.CGNS.GnssWebApi, SJRAtlas.CGNS">
      <parameters>
        <url>#{gnss_api_url}</url>
        <timeout>#{gnss_api_timeout}</timeout>
      </parameters>
    </component>

    <component id="placename" type="SJRAtlas.Site.Components.PlaceNameComponent, SJRAtlas.Site"/>
    <component id="watershed" type="SJRAtlas.Site.Components.WatershedComponent, SJRAtlas.Site"/>
	<component id="resource" type="SJRAtlas.Site.Components.ResourceComponent, SJRAtlas.Site"/>
	<component id="metadatacategories" type="SJRAtlas.Site.Components.MetadataCategoriesComponent, SJRAtlas.Site"/>

    <!--
    <component id="watershedsearch.service" service="SJRAtlas.Core.IWatershedLookup, SJRAtlas.Core"
               type="SJRAtlas.Core.DummyWatershedLookup, SJRAtlas.Core" /> -->
    <!--
    <component id="metadatasearch.service" service="SJRAtlas.Core.IMetadataLookup, SJRAtlas.Core" 
               type="SJRAtlas.Core.DummyMetadataLookup, SJRAtlas.Core" />  -->
    <!--
    <component id="placenamesearch.service" service="SJRAtlas.Core.IPlaceNameLookup, SJRAtlas.Core"
               type="SJRAtlas.Core.DummyPlaceNameLookup, SJRAtlas.Core" /> -->

  </components>  
</configuration>