<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<components>
		<component id="basic_info" type="SJRAtlas.Site.Components.BasicInfoComponent, SJRAtlas.Site"/>
		<component id="place_info" type="SJRAtlas.Site.Components.PlaceInfoComponent, SJRAtlas.Site"/>
		<component id="waterbody_info" type="SJRAtlas.Site.Components.WaterBodyInfoComponent, SJRAtlas.Site" />
		<component id="watershed_info" type="SJRAtlas.Site.Components.WatershedInfoComponent, SJRAtlas.Site" />
		<component id="interactive_map" type="SJRAtlas.Site.Components.InteractiveMapComponent, SJRAtlas.Site"/>
		<component id="publication" type="SJRAtlas.Site.Components.PublicationComponent, SJRAtlas.Site"/>
		<component id="dataset" type="SJRAtlas.Site.Components.DataSetComponent, SJRAtlas.Site" />

		<component id="presentation_view_handler" service="SJRAtlas.Site.IPresentationViewHandler, SJRAtlas.Site"
				   type="SJRAtlas.Site.DefaultPresentationViewHandler, SJRAtlas.Site">
			<parameters>
				<presentationsToViews>
					<dictionary keyType="System.Type, mscorlib" valueType="System.String, mscorlib">
						<entry key="SJRAtlas.Models.TabularPresentation, SJRAtlas.Models">path/to/view</entry>
					</dictionary>
				</presentationsToViews>
			</parameters>
		</component>

		<component id="atlashelper.config" service="SJRAtlas.Site.Helpers.AtlasHelperConfiguration, SJRAtlas.Site"
				   type="SJRAtlas.Site.Helpers.AtlasHelperConfiguration, SJRAtlas.Site">
			<parameters>				
				<mapApplicationUrl>http://gis.mektekdev.com/demo/default.aspx</mapApplicationUrl>
				<defaultServiceName>View_Location</defaultServiceName>
				<defaultUnits>Decimal Degrees</defaultUnits>
				<defaultCoordinateSystem>NAD83</defaultCoordinateSystem>
				
				<linkTitles>
					<dictionary keyType="System.Type, mscorlib" valueType="System.String, mscorlib">
						<entry key="SJRAtlas.Models.TabularPresentation, SJRAtlas.Models">View Tables</entry>
						<entry key="SJRAtlas.Models.GraphPresentation, SJRAtlas.Models">View Graphs</entry>
						<entry key="SJRAtlas.Models.SummaryReportPresentation, SJRAtlas.Models">View Summary Report</entry>
						<entry key="SJRAtlas.Models.MapPresentation, SJRAtlas.Models">View Maps</entry>
					</dictionary>
				</linkTitles>

				<linkOrder>
					<array type="System.Type, mscorlib">
						<item>SJRAtlas.Models.MapPresentation, SJRAtlas.Models</item>
						<item>SJRAtlas.Models.TabularPresentation, SJRAtlas.Models</item>
						<item>SJRAtlas.Models.GraphPresentation, SJRAtlas.Models</item>
						<item>SJRAtlas.Models.SummaryReportPresentation, SJRAtlas.Models</item>
					</array>
				</linkOrder>
			</parameters>
		</component>
	</components>
</configuration>