<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<components>
		<!-- 
    NOTE: Controllers are being programmatically registered into the the controller tree 
          using SJRAtlasContainer.RegisterComponents().  This means that controllers can 
          be registered directly into the system without needing to be included in this 
          configuration file.
          
          If a controller must be registered in this configuration file, it should be 
          done using the following format:      
          <component id="home.controller" type="SJRAtlas.Site.Controllers.HomeController" /> 
    -->

	</components>	
</configuration>