<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<components>
		<!-- 
          NOTE: Controllers are automatically registered into the the controller tree 
          during initialization in SJRAtlas.Site.WebApplicationContainer.  This means 
		  that controllers can be registered directly into the system without needing to 
		  include them in this configuration file.
          
          If a controller needs to be registered in this configuration file, it should be 
          done using the following format:      
          <component id="name.controller" type="Assembly.Name.Controllers.HomeController, Assembly.Name" /> 
		-->
	</components>	
</configuration>