<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<facilities>
		<facility id="integration.facility" type="Castle.MonoRail.WindsorExtension.RailsFacility, Castle.MonoRail.WindsorExtension" />
		<facility id="loggingfacility" type="Castle.Facilities.Logging.LoggingFacility, Castle.Facilities.Logging" loggingApi="Log4net" configFile="logging.config" />
    <!-- For more information on ActiveRecord configuration -->
    <!-- visit http://www.castleproject.org/activerecord/documentation/trunk/manual/xmlconfigref.html -->
    <facility id="arintegration" isDebug="true" type="Castle.Facilities.ActiveRecordIntegration.ActiveRecordFacility, Castle.Facilities.ActiveRecordIntegration" isWeb="true">
      <assemblies>
        <item>SJRAtlas.Models</item>
      </assemblies>
      
      <config>
        <add key="hibernate.connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
        <add key="hibernate.command_timeout" value="5000" />
        <add key="hibernate.cache.use_query_cache" value="false" />
        <add key="hibernate.connection.isolation" value="ReadCommitted" />
        <add key="hibernate.show_sql" value="false" />
        <add key="hibernate.dialect" value="NHibernate.Dialect.MsSql2000Dialect" />
        <add key="hibernate.connection.driver_class" value="NHibernate.Driver.SqlClientDriver" />
        <add key="hibernate.connection.connection_string" value="#{dataWarehouseConnectionString}" />
      </config>
      
    </facility>
	</facilities>
</configuration>