<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <properties>	
    <path_to_metadata_index>c:\Data_Warehouse\LuceneMetadataIndex</path_to_metadata_index>
	  
    <?if LOCAL?>
      <!-- LOCAL DEVELOPMENT MODE -->
      <defaultConnectionString>Data Source=.\SQLEXPRESS;Initial Catalog=atlas_dev;Integrated Security=True</defaultConnectionString>
      <dataWarehouseConnectionString>Data Source=.\SQLEXPRESS;Initial Catalog=dataWarehouse;Integrated Security=True</dataWarehouseConnectionString>
      <gnss_api_url>http://cgns-dev.nrcan.gc.ca/gnss-srt/api</gnss_api_url>
      <gnss_api_timeout>30000</gnss_api_timeout>
    <?end?>

	<?if LOCAL_UNB?>
		<!-- LOCAL DEVELOPMENT MODE AT UNB -->
		<defaultConnectionString>Data Source=.;Initial Catalog=atlas_dev;Integrated Security=True</defaultConnectionString>
		<dataWarehouseConnectionString>Data Source=.;Initial Catalog=datawarehouse_dev;Integrated Security=True</dataWarehouseConnectionString>
		<gnss_api_url>http://cgns-dev.nrcan.gc.ca/gnss-srt/api</gnss_api_url>
		<gnss_api_timeout>30000</gnss_api_timeout>
	<?end?>	
		
    <?if DEV_SERVER?>
      <!-- DEVELOPMENT SERVER MODE -->
      <defaultConnectionString>Data Source=.;Initial Catalog=atlas;User Id=sjratlas;Password=Oux3Sl</defaultConnectionString>
      <dataWarehouseConnectionString>Data Source=.;Initial Catalog=dataWarehouse;User Id=sjratlas;Password=Oux3Sl</dataWarehouseConnectionString>
      <gnss_api_url>http://cgns-dev.nrcan.gc.ca/gnss-srt/api</gnss_api_url>
      <gnss_api_timeout>30000</gnss_api_timeout>     
    
	<?else?>
      <!-- PRODUCTION SERVER MODE -->
      <gnss_api_url>http://cgns-dev.nrcan.gc.ca/gnss-srt/api</gnss_api_url>
      <gnss_api_timeout>30000</gnss_api_timeout>
    <?end?>
  </properties>
</configuration>