<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <properties>	
	<?if PRODUCTION?>
	    <!-- PRODUCTION SERVER MODE -->
		<dataWarehouseConnectionString>Data Source=.;Initial Catalog=dataWarehouse;User Id=atlasSite;Password=E2GypudeuI4wHKiBhozf3NVr2H0BdP4Ia5Zplt49NbAsfVxPEpXHsQyXdhI3sOR</dataWarehouseConnectionString>
	    <mapApplicationUrl>http://cri.nbwaters.unb.ca/map/</mapApplicationUrl>
	<?end?>	
		
    <?if STAGING?>
		<!-- STAGING SERVER MODE -->
	    <dataWarehouseConnectionString>Data Source=.;Initial Catalog=dataWarehouse;User Id=atlasSite;Password=Oux3S1</dataWarehouseConnectionString>
	    <mapApplicationUrl>http://gis.mektekdev.com/demo/</mapApplicationUrl>
	<?end?>  
	  
	<?if DEVELOPMENT?>
	    <!-- DEVELOPMENT/TEST MODE -->
	    <dataWarehouseConnectionString>Data Source=.;Initial Catalog=dw_dev;Integrated Security=True</dataWarehouseConnectionString>
	    <mapApplicationUrl>http://localhost/map/</mapApplicationUrl>
    <?end?>
  </properties>
</configuration>