#capturefor(breadcrumb_trail)
$Url.Link('Home', "%{controller='site', action='index'}")
<span class="breadcrumb-separator">&#8722;</span>
<a href="#" title="Place Information">Place Information</a>
#end

#capturefor(headline)    
    #set($coordinate = $place.GetCoordinate())
    <h1 class="title">Place Information: $place.Name, $place.Region</h1>
    <p>
    Name Status: <span style="font-weight: normal">$!{place.NameStatus}</span><br />
    Place Type: <span style="font-weight: normal">$!{place.GenericTerm}</span><br />
    County: <span style="font-weight: normal">$!{place.County}</span><br />
    Latitude: <span style="font-weight: normal">$!{coordinate.Latitude}</span><br />
    Longitude: <span style="font-weight: normal">$!{coordinate.Longitude}</span><br />   
    $Atlas.MapLink("View Location In Map", "%{coordinate=$coordinate}", "%{onclick='view_location(\'$cgndb_key\'); return false;', class='option'}")
    </p>
#end

#capturefor(javascripts)
<script type="text/javascript" language="javascript" src="$siteroot/Content/javascripts/yahoo-dom-event.js"></script>
<script type="text/javascript" language="javascript" src="$siteroot/Content/javascripts/abstract.js" />
#end

  
<div id="expanded-info">
    #if($interactive_maps.Count != 0)
    <div id="interactive-maps">
        <h2 class="title">Interactive Maps:</h2>
        #parse("interactive_map/_list.vm")    
    </div>
    #end

    #if($published_maps.Count != 0)
    <div id="published-maps">  
        <h2 class="title">Published Maps:</h2>  
        #parse("publication/_list_maps.vm")            
    </div>
    #end
    
    #if($published_reports.Count != 0)
    <div id="published-reports">  
        <h2 class="title">Published Reports:</h2>  
        #parse("publication/_list_reports.vm")            
    </div>
    #end
</div>