#capturefor(headline)
    <h1>Water Body Information</h1>
    #component(waterbody_info with "WaterBody=$waterbody")
#end

#capturefor(javascripts)
<script type="text/javascript" language="javascript" src="$siteroot/Content/javascripts/yahoo-dom-event.js"></script>
<script type="text/javascript" language="javascript" src="$siteroot/Content/javascripts/abstract.js" />
#end

<div id="content" class="clearfix">	
	<div class="innerwrap">
		<div class="textbox">               
            <div id="expanded-info">
                <div id="interactive-maps">
                    <h2>Interactive Maps</h2>
                    #if($interactive_maps.Count == 0)
                        <p>No Interactive Maps</p>
                    #else
                        #parse("interactive_map/_list.vm")                        
                    #end
                </div>

                <div id="published-maps">  
                    <h2>Published Maps</h2>  
                    #if($published_maps.Count == 0)
                        <p>No Published Maps</p>
                    #else
                        #parse("publication/_list_maps.vm")
                    #end
                </div>
                
                <div id="published-reports">  
                    <h2>Published Reports</h2>  
                    #if($published_reports.Count == 0)
                        <p>No Published Reports</p>
                    #else
                        #parse("publication/_list_reports.vm")
                    #end
                </div>
                
                <div id="datasets">  
                    <h2>Data</h2>  
                    #if($datasets.Count == 0)
                        <p>No Data</p>
                    #else
                        #parse("data_set/_list.vm")
                    #end
                </div>
            </div>
        </div>
	</div>
</div>