<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="web.physical.dir" value="C:\Documents and Settings\colin\My Documents\Visual Studio 2005\Projects\SJRAtlas\SJRAtlas.Site" />
        <add key="web.virtual.dir" value="/" />
    </appSettings>
</configuration>
