#capturefor(headline)
<h1>Advanced Search</h1>
<p>This is an advanced search option for querying tabular data. You will be able to download the tabular data and its associated spatial data if available. </p>
<p>Enter search criteria in the form below:</p>
#end

#capturefor(header)
$Ajax.GenerateJSProxy('Agency', 'Agency')

<!-- JAVASCRIPT FORM HELPER -->
$FormHelper.InstallScripts()

<!-- EXT JS 2.0.1 -->
<link rel="stylesheet" type="text/css" href="$siteroot/Content/javascripts/ext-2.0.1/resources/css/ext-all.css" />
<script src="$siteroot/Content/javascripts/ext-2.0.1/adapter/prototype/ext-prototype-adapter.js" type="text/javascript" language="javascript"></script>
<script src="$siteroot/Content/javascripts/ext-2.0.1/ext-all-debug.js" type="text/javascript" language="javascript"></script>

<!-- CONFIGURES AUTOCOMPLETE FIELDS -->
<script type="text/javascript" language="javascript">
Ext.onReady(function() {
    var form = new Ext.FormPanel({
        frame: true,
        title: 'Search Data Sets',
        defaultType: 'textfield',
        items: [{
            fieldLabel: 'Select a Data Set',
            name: 'dataset',
            allowBlank: false
        }, {
            xtype: 'fieldset',
            checkboxToggle: true,
            collapsed :false,
            title: 'Specify an Agency?',
            items: [{
                xtype: 'combo',
                fieldLabel: 'Agency',
                name: 'agency',
                width: 500,
                displayField: 'Name',
                editable: false,
                forceSelection: true,
                emptyText: 'Select an agency...',
                store: new Ext.data.JsonStore({
                    autoload: Agency.list,
                    root: 'agencies',
                    totalProperty: 'results',
                    id: 'AgencyCode',
                    fields: ['AgencyCode', 'Name', 'Type']
                }),
                tpl: new Ext.XTemplate(
                    '<tpl for="."><div class="agency-list-item">',
                        '<h3>{Name}</h3>',
                    '</div></tpl>'
                ),
                itemSelector: 'div.agency-list-item'                
            }]                
        }, { 
            xtype: 'fieldset',
            checkboxToggle: true,
            collapsed: true,
            title: 'Specify an Area of Interest?',
            items: [new WaterBodyAutoComplete() 
            , new WatershedAutoComplete() 
            , { 
                xtype: 'textfield',
                fieldLabel: 'Aquatic Site',
                name: 'aquatic_site' 
            }]
        }, {
            xtype: 'fieldset',
            checkboxToggle: true,
            collapsed: true,
            title: 'Specify a Date Range?',
            items: [{                                  
                xtype: 'datefield',
                fieldLabel: 'Start Date',
                name: 'start_date'               
            }, {                               
                xtype: 'datefield',
                fieldLabel: 'End Date',
                name: 'end_date'                                                           
            }]         
        }],
        buttons: [{text: 'Search'}]
    }); 
    
    form.render('advanced-search-form');
});

WaterBodyAutoComplete = function() {
    WaterBodyAutoComplete.superclass.constructor.call(this, {
        store: new Ext.data.JsonStore({
            url: '$siteroot/waterbody/autocomplete.castle',
            root: 'waterbodies',
            totalProperty: 'results',
            id: 'id',
            fields: ['id', 'name', 'alt_name']
        }),
        fieldLabel: 'Water Body',
        displayField: 'title',
        typeAhead: false,
        loadingText: 'Searching...',
        width: 500,
        hideTrigger: true,
        minChars: 2,
        tpl: new Ext.XTemplate(
            '<tpl for="."><div class="waterbody-search-item">',
                '<h3>{title}</h3>',       
                '<p>Id: {id}</p>',
                '<tpl if="alt_name">',
                    '<p>Also known as: {alt_name}</p>',
                '</tpl>',
            '</div></tpl>'
        ),
        itemSelector: 'div.waterbody-search-item'
    });
};

Ext.extend(WaterBodyAutoComplete, Ext.form.ComboBox, {
    initList : function() {
        WaterBodyAutoComplete.superclass.initList.call(this);  
        this.view.prepareData = function(data) {
            Ext.apply(data, { 
                title: data['name'] || 'Unnamed Water Body',
            });
            return data;
        };   
    }  
});

WatershedAutoComplete = function() {
    WatershedAutoComplete.superclass.constructor.call(this, {
        store: new Ext.data.JsonStore({
            url: '$siteroot/watershed/autocomplete.castle',
            root: 'watersheds',
            totalProperty: 'results',
            id: 'drainage_code',
            fields: ['drainage_code', 'name']
        }),
        fieldLabel: 'Watershed',
        displayField: 'name',
        typeAhead: false,
        loadingText: 'Searching...',
        width: 500,
        hideTrigger: true,
        minChars: 2,
        tpl: new Ext.XTemplate(
            '<tpl for="."><div class="watershed-search-item">',
                '<h3>{name}</h3>',
                '<p>{drainage_code}</p>',
            '</div></tpl>'
        ),
        itemSelector: 'div.watershed-search-item'
    });
}

Ext.extend(WatershedAutoComplete, Ext.form.ComboBox, {
    initList : function() {
        WatershedAutoComplete.superclass.initList.call(this);  
        this.view.prepareData = function(data) {
            Ext.apply(data, { 
                title: data['name']
            });
            return data;
        };   
    }  
});
</script>
#end

<div id="content" class="clearfix">	
	<div class="innerwrap">
		<div class="textbox">
		    <div id="advanced-search-form">
		    
		    </div>
		
		    	<!--	
		    $Form.FormTag("%{action='submitadvanced', immediate='true', useLabels='true'}")
		    
		    
		    #if($flash.summary)
		    <br />
		        #foreach($errormessage in $summary.ErrorMessages)
		            $errormessage<br />
		        #end
		    <br />
		    #end
		    
		    <div id="dataset" class="step">
		        <span class="step-num">Step #1 of 4.</span>
		        $Form.LabelFor("options.dataset", 'Select a Data Set:')
		        $Form.Select("options.dataset", $datasets, "%{value='id', text='name', firstoption='(Required)' firstoptionvalue=''}")
		    </div>
		    
		    <div id="aoi-toggles" style="xdisplay: none;" class="step">
		        <span class="step-num">Step #2 of 4.</span>
		        Is your area of interest:
		        <a href="javascript:void(0)" id="aoi-watershed" class="aoi-toggle" onclick="toggle_area_of_interest('watershed');">Watershed Area</a>, 
		        <a href="javascript:void(0)" id="aoi-waterbody" class="aoi-toggle" onclick="toggle_area_of_interest('waterbody');">Lake or Stream</a>, 
		        a <a href="javascript:void(0)" id="aoi-aquatic-site" class="aoi-toggle" onclick="toggle_area_of_interest('aquatic-site');">Specific Site</a>,
		        or <a href="javascript:void(0)" id="aoi-all" class="aoi-toggle" onclick="toggle_area_of_interest('all');">All</a>?
		    </div>
		    
		    <div id="all" class="area-of-interest" style="display: none;">
		        <p>All Areas Will Be Searched</p>
		    </div>
		    
		    <div id="aquatic-site" class="area-of-interest" style="display: none;">
		        $Form.LabelFor("options.aquaticsiteid", "Aquatic Site ID:")
		        $Form.TextField("options.aquaticsiteid")
		    </div>
		    		
		    <div id="waterbody" class="area-of-interest" style="xdisplay: none;">    
		        <div id="waterbody-autocomplete">
		            $Form.LabelFor("options.waterbody", 'Water Body:')
		            $Form.TextField("options.waterbody")
		        </div>
		    </div>
		     
		    <div id="watershed" class="area-of-interest" style="xdisplay: none;"> 
        		<div id="watershed-autocomplete">
	                $Form.LabelFor("options.watershed", 'Watershed:')
	                $Form.TextField("options.watershed")
	            </div>
		    </div>
		    <div style="margin-bottom: 2em;"></div>
		    
		    <div id="agency" style="xdisplay: none;" class="step">
		        <span class="step-num">Step #3 of 4.</span>     		    
		        $Form.LabelFor("options.agency", "Select an Agency (optional):")
		        $Form.Select("options.agency", $agencies, "%{firstoption='All'}")
		    </div>
		    
		    <div id="date-range" style="xdisplay: none;" class="step">
		        <span class="step-num">Step #4 of 4.</span>		    
		        $Form.LabelFor("options.daterange", "Specify a Date Range (optional):")
		        $Form.TextField("options.daterange")
		    </div>
		    
		    <div id="do-search" style="xdisplay: none;">
		        $Form.Submit("Search")	    
		    </div>
		    
		    $Form.EndFormTag()
		    -->
		               
        </div>
	</div>
</div>
