#capturefor(headline)
<h1>Advanced Search</h1>
<p>This is an advanced search option for querying tabular data. You will be able to download the tabular data and its associated spatial data if available. </p>
<p>Enter search criteria in the form below:</p>
#end

#capturefor(header)
<!-- JAVASCRIPT FORM HELPER -->
$FormHelper.InstallScripts()

<!-- EXT JS 2.0.1 -->
<link rel="stylesheet" type="text/css" href="$siteroot/Content/javascripts/ext-2.0.1/resources/css/ext-all.css" />
<script src="$siteroot/Content/javascripts/ext-2.0.1/adapter/prototype/ext-prototype-adapter.js" type="text/javascript" language="javascript"></script>
<script src="$siteroot/Content/javascripts/ext-2.0.1/ext-all-debug.js" type="text/javascript" language="javascript"></script>

<!-- CONFIGURES AUTOCOMPLETE FIELDS -->
<script type="text/javascript" language="javascript">
Ext.onReady(function() {
    Ext.get('waterbody-box').boxWrap();
    Ext.get('watershed-autocomplete').boxWrap();

    var waterbody_datastore = new Ext.data.JsonStore({
        url: '$siteroot/waterbody/autocomplete.castle',
        root: 'waterbodies',
        totalProperty: 'results',
        id: 'id',
        fields: ['id', 'name', 'alt_name']
    });
    
    var watershed_datastore = new Ext.data.JsonStore({
        url: '$siteroot/watershed/autocomplete.castle',
        root: 'watersheds',
        totalProperty: 'results',
        id: 'drainage_code',
        fields: ['drainage_code', 'name']
    });
    
    var waterbody_result_template = new Ext.XTemplate(
        '<tpl for="."><div class="waterbody-search-item">',
            '<tpl if="name">',
                '<h3>{name}</h3>',
            '</tpl>',
            '<tpl if="!name">',
                '<h3>Unnamed Water Body</h3>',
            '</tpl>',            
            '<p>Id: {id}</p>',
            '<tpl if="alt_name">',
                '<p>Also known as: {alt_name}</p>',
            '</tpl>',
        '</div></tpl>'
    );
    
    var watershed_result_template = new Ext.XTemplate(
        '<tpl for="."><div class="watershed-search-item">',
            '<h3>{name}</h3>',
            '<p>{drainage_code}</p>',
        '</div></tpl>'
    );
    
    var waterbody_search = new Ext.form.ComboBox({
        store: waterbody_datastore,
        displayField: 'title',
        typeAhead: false,
        loadingText: 'Searching...',
        width: 500,
        hideTrigger: true,
        minChars: 2,
        tpl: waterbody_result_template,
        applyTo: 'options_waterbody',
        itemSelector: 'div.waterbody-search-item'
    });
    
    var watershed_search = new Ext.form.ComboBox({
        store: watershed_datastore,
        displayField: 'title',
        typeAhead: true,
        loadingText: 'Searching...',
        width: 500,
        hideTrigger: true,
        minChars: 2,
        tpl: watershed_result_template,
        applyTo: 'options_watershed',
        itemSelector: 'div.watershed-search-item'
    });
});
</script>
#end

<div id="content" class="clearfix">	
	<div class="innerwrap">
		<div class="textbox">
		    		
		    $Form.FormTag("%{action='submitadvanced', immediate='true', useLabels='true'}")
		    
		    <!--
		    #if($flash.summary)
		    <br />
		        #foreach($errormessage in $summary.ErrorMessages)
		            $errormessage<br />
		        #end
		    <br />
		    #end
		    
		    <div id="dataset" class="step">
		        <span class="step-num">Step #1 of 4.</span>
		        $Form.LabelFor("options.dataset", 'Select a Data Set:')
		        $Form.Select("options.dataset", $datasets, "%{value='id', text='name', firstoption='(Required)' firstoptionvalue=''}")
		    </div>
		    
		    <div id="aoi-toggles" style="xdisplay: none;" class="step">
		        <span class="step-num">Step #2 of 4.</span>
		        Is your area of interest:
		        <a href="javascript:void(0)" id="aoi-watershed" class="aoi-toggle" onclick="toggle_area_of_interest('watershed');">Watershed Area</a>, 
		        <a href="javascript:void(0)" id="aoi-waterbody" class="aoi-toggle" onclick="toggle_area_of_interest('waterbody');">Lake or Stream</a>, 
		        a <a href="javascript:void(0)" id="aoi-aquatic-site" class="aoi-toggle" onclick="toggle_area_of_interest('aquatic-site');">Specific Site</a>,
		        or <a href="javascript:void(0)" id="aoi-all" class="aoi-toggle" onclick="toggle_area_of_interest('all');">All</a>?
		    </div>
		    
		    <div id="all" class="area-of-interest" style="display: none;">
		        <p>All Areas Will Be Searched</p>
		    </div>
		    
		    -->
		    
		    <div id="aquatic-site" class="area-of-interest" style="display: none;">
		        $Form.LabelFor("options.aquaticsiteid", "Aquatic Site ID:")
		        $Form.TextField("options.aquaticsiteid")
		    </div>
		    		
		    <div id="waterbody" class="area-of-interest" style="xdisplay: none;">    
		        <div id="waterbody-box">
		            $Form.LabelFor("options.waterbody", 'Water Body:')
		            $Form.TextField("options.waterbody")
		        </div>
		    </div>
		     
		    <div id="watershed" class="area-of-interest" style="xdisplay: none;"> 
        		<div id="watershed-autocomplete">
	                $Form.LabelFor("options.watershed", 'Watershed:')
	                $Form.TextField("options.watershed")
	            </div>
		    </div>
		    <div style="margin-bottom: 2em;"></div>
		    
		    <!--
		    <div id="agency" style="xdisplay: none;" class="step">
		        <span class="step-num">Step #3 of 4.</span>     		    
		        $Form.LabelFor("options.agency", "Select an Agency (optional):")
		        $Form.Select("options.agency", $agencies, "%{firstoption='All'}")
		    </div>
		    
		    <div id="date-range" style="xdisplay: none;" class="step">
		        <span class="step-num">Step #4 of 4.</span>		    
		        $Form.LabelFor("options.daterange", "Specify a Date Range (optional):")
		        $Form.TextField("options.daterange")
		    </div>
		    
		    <div id="do-search" style="xdisplay: none;">
		        $Form.Submit("Search")	    
		    </div>
		    -->
		    
		    $Form.EndFormTag()
		               
        </div>
	</div>
</div>
