#capturefor(header)
<link rel="stylesheet" type="text/css" href="$siteroot/Content/javascripts/ext-2.0.1/resources/css/ext-all.css" />
<script src="$siteroot/Content/javascripts/ext-2.0.1/adapter/prototype/ext-prototype-adapter.js" type="text/javascript" language="javascript"></script>
<script src="$siteroot/Content/javascripts/ext-2.0.1/ext-all-debug.js" type="text/javascript" language="javascript"></script>
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAGINyEenSy_3jKcSV_XX_gRT2yXp_ZAY8_ufC3CFXhHIE1NvwkxTjJBRnVvIn8PFzD1OlcSsgbQPO7A" type="text/javascript"></script>
<script src="$siteroot/Content/javascripts/search.js" type="text/javascript" language="javascript"></script>
#end

#capturefor(headline)
<h1 class="title">Search</h1>
<p>You've searched for: <span class="search_query">&ldquo;$!{query}&rdquo;</span>. Please select one of the below locations to continue.</p>
#end

<div id="content" class="clearfix">	
    <div class="innerwrap">
	    <div id="search-results" style="height: 500px"> 
	    </div>
	</div>
</div>   

<script type="text/javascript" language="javascript">
Search.Results = $results;
</script>