#capturefor(headline)
feedback form
#end

<div id="content" class="clearfix">	
	<div class="innerwrap">
	    <div class="textbox yui-gb">		
            $Ajax.InstallScripts()
            $Scriptaculous.InstallScripts()
            $FormHelper.InstallScripts()            
            <script type="text/javascript">
            function start_loading()
            {
                document.getElementById('feedback-form-loading').style.display = 'block';
            }
            
            function done_loading()
            {
                document.getElementById('feedback-form-loading').style.display = 'none';
            }
            </script>
            
            $AjaxHelper.LinkToRemote("Display Form Content", "feedbackform.rails", "%{update='feedback-form', Loading='start_loading()', Complete='done_loading()'}") 
            <br />
            
            <div id="feedback-form-loading" style="text-align: center; display: none;">
                <img src="$Atlas.ContentPath()/images/ajax-loading.gif" />
            </div>
            <div id="feedback-form">
            </div>    
            
        </div>
    </div>
</div>

