<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Saint John River Atlas</title>

<link rel="stylesheet" href="$siteroot/Content/stylesheets/reset-fonts-grids.css" type="text/css" media="screen" />
<link rel="stylesheet" href="$siteroot/Content/stylesheets/typography.css" type="text/css" media="screen" />
<link rel="stylesheet" href="$siteroot/Content/stylesheets/style.css" type="text/css" media="screen" />
<link rel="stylesheet" href="$siteroot/Content/javascripts/ibox/ibox.css" type="text/css" media="screen" />

<!-- compliance patch for microsoft browsers -->
<!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="$siteroot/Content/stylesheets/bug-fixes-ie7.css" />
<![endif]-->
<!--[if lt IE 7]>
<link rel="stylesheet" type="text/css" href="$siteroot/Content/stylesheets/bug-fixes-ie6.css" />
<![endif]-->

$!{header}

</head>
<body id="$!{controller.Name}">

<div id="header">
	<div class="innerwrap yui-gc">
        <div id="title" class="yui-u first">
            <a href="$siteroot/"><span class="fir"></span></a>
		    <h1><a href="$siteroot/">Saint John River Atlas</a></h1>	
		    <p><a id="leave-feedback" rel="ibox&type=3&height=438" href="$siteroot/feedback/feedbackform.rails">Leave Feedback</a></p>
        </div>
        <div class="yui-u"> 
            <!--
	        <div id="user_controls">
		        <div class="box">
		            <p>$Url.Link('Register', "%{controller='user', action='register'}")</p>
		            <p>$Url.Link('Login', "%{controller='user', action='login'}")</p>
			        <p style="display:none">Logged in as: <span id="username"><a href="#">username</a></span></p>
			        <p style="display:none"><a href="#">account settings</a></p>
		        </div>
	        </div>	
	        -->
	        
            <div id="cri">			
		        <span class="fir"></span>
		        <h2>Canadian Rivers Institute</h2>
	        </div>
        </div>
	</div>
</div>

<div id="navigation">	
	<div class="innerwrap yui-gc">
		<div id="tabs" class="yui-u first">
			<ul>			
			    <li id="home-tab">$Url.Link('Home', "%{controller='site', action='index'}")</li>
				<li id="maps-tab">$Url.Link('Maps', "%{controller='site', action='maps'}")</li>
                <li id="search-tab">$Url.Link('Search', "%{controller='search', action='advanced'}")</li>
                <li id="forms-tab">$Url.Link('Forms', "%{controller='site', action='forms'}")</li>                
                <li id="reports-tab">$Url.Link('Reports', "%{controller='site', action='reports'}")</li> 
                <li id="about-tab">$Url.Link('About', "%{controller='site', action='about'}")</li>                
			</ul>
		</div>
		<div id="quick-search" class="yui-u">
			<div class="adv-link">
			    $Url.Link('Advanced Search', "%{controller='search', action='advanced'}")
			</div>
			$Form.FormTag("%{controller='search', action='quick', id='quick-search-form'}")			
				<div id="search-box">
				    <label id="lbl_search" for="txt_search">Quick Search:</label>
				    <input id="txt_search" name="q" type="text"/>
				</div>
				<div class="btn">
				    <input id="btn_search" name="submit" type="submit"/>
				</div>
			$Form.EndFormTag()
		</div>
	</div>
</div>

<div id="headline">
	<div class="innerwrap">
		<div class="textbox">			    
	        <div id="breadcrumbs">
	            Location:                      
	        </div>
	        <div style="clear: both;"></div>
	    	    
		    $!{headline}
		</div>
	</div>
</div>

$childContent

<div id="footer">
	<div class="xinnerwrap">	
		<p id="copyright">Saint John River Atlas: Release 1</p>
        <p id="timestamp">Updated: 11/16/07</p>
	    <table>
	        <tr>
	            <td><img src="$siteroot/Content/images/geoconnections.png" /></td>
	            <td><img src="$siteroot/Content/images/NBWTF(LR).gif" /></td>
	            <td><img src="$siteroot/Content/images/bwmcc.gif" /></td>
	        </tr>
	    </table>
	</div>
</div>

$Ajax.InstallScripts()
$Scriptaculous.InstallScripts()
$FormHelper.InstallScripts()
<script type="text/javascript" language="javascript">
function start_submit(request)
{
    document.getElementById('feedback-form-content').style.display = 'none';
    document.getElementById('submitting').style.display = 'block';
}

function done_submit(request)
{
    document.getElementById('submitting').style.display = 'none';
    if(request.responseText.startsWith('<div id="feedback">'))
    {
        document.getElementById('ibox_content').innerHTML = request.responseText;
        document.getElementById('feedback').style.display = 'block';
    }
    else
    {    
        document.getElementById('submit-done-msg').innerHTML = request.responseText;
        document.getElementById('submit-done-msg').style.display = 'block';
    }
}
</script>
<script type="text/javascript" language="javascript" src="$siteroot/Content/javascripts/ibox/ibox.js"></script>
$!{javascripts}

<!-- crazy egg tracking script -->
<script type="text/javascript" src="http://cetrk.com/pages/scripts/0007/1476.js"> </script>

</body>
</html>