<?xml version="1.0" encoding="utf-8" ?>

<configuration>

	<configSections>
		<section name="activerecord"
				 type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord" />
		<section name="log4net"
				 type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>

	<!-- For the configuration reference, check -->
	<!-- http://www.castleproject.org/index.php/ActiveRecord:Configuration_Reference -->
	<activerecord isDebug="true">
		<!-- The configuration below is good enough for MS SQL Server only -->
		<!-- Remember that you should use a test database, never use development or production -->
		<config>
			<add key="hibernate.show_sql"                value="true" />
			<add key="hibernate.connection.driver_class" value="NHibernate.Driver.SqlClientDriver" />
			<add key="hibernate.dialect"                 value="NHibernate.Dialect.MsSql2000Dialect" />
			<add key="hibernate.connection.provider"     value="NHibernate.Connection.DriverConnectionProvider" />
			<add key="hibernate.connection.connection_string" value="Data Source=.;Initial Catalog=datawarehouse_test;Integrated Security=SSPI" />
		</config>
	</activerecord>

	<log4net>
		<!-- Define some output appenders -->
		<appender name="console" type="log4net.Appender.ConsoleAppender, log4net">
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
			</layout>
		</appender>

		<appender name="file" type="log4net.Appender.FileAppender">
			<file value="../../log.txt" />
			<appendToFile value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>

		<root>
			<!-- priority value can be set to ALL|INFO|WARN|ERROR -->
			<priority value="ALL" />
			<appender-ref ref="file" />
			<appender-ref ref="console" />
		</root>
		
		<logger name="NHibernate">
			<level value="ERROR" />
		</logger>
	</log4net>

</configuration>