<div class="resources">
    <p>
    #if($spatial_data_link)
        <span class="spatial-data resource">
            <a target="_blank" href="$Resource.Href($spatial_data_link)">View Map</a>
        </span>
    #end

    #if($tabular_data_link)
        <span class="tabular-data resource">
            <a href="$Resource.Href($tabular_data_link)">View Tables</a>
        </span>
    #end

    #if($graph_link)
        <span class="graph resource">
            <a href="$Resource.Href($graph_link)">View Graph</a>
        </span>
    #end

    #if($summary_report_link)
        <span class="summary-report resource">
            <a href="$Resource.Href($summary_report_link)">View Summary Report</a>
        </span>
    #end
    </p>
</div>

