#capturefor(breadcrumb_trail)
$Url.Link('Home', "%{controller='site', action='index'}")
<span class="breadcrumb-separator">&#8722;</span>
<a href="#" title="Error Page">Error</a>
#end

#capturefor(headline)
<h1 class="title">Oops! Something unexpected happened.</h1>
<p style="color: red">Take me back to the $Url.Link('homepage', "%{controller='site', action='index'}")!</p>
#end

