#capturefor(breadcrumb_trail)
$Url.Link('Home', "%{controller='site', action='index'}")
<span class="breadcrumb-separator">&#8722;</span>
<a href="#" title="Error Page">Error</a>
#end

#capturefor(headline)
<h1 class="title">Oops! Something unexpected happened.</h1>
<p style="color: red">Take me back to the $Url.Link('homepage', "%{controller='site', action='index'}")!</p>
<p>This is an error page. Exception details are below:</p>
#end

#macro(showexception $exc)
    <h3 class="title">$exc.GetType().Name</h3>
    <pre class="exception">Message: 
$exc.Message 

Stacktrace:
$exc.StackTrace
    </pre>

    #if($exc.InnerException)     
        #set($inner = $exc.InnerException)
        #showexception($inner)
    #end
#end

<div id="rescue">
#set($exception = $context.LastException)
#showexception($exception)               
</div>
