#capturefor(breadcrumb_trail)
$Url.Link('Home', "%{controller='site', action='index'}")
<span class="breadcrumb-separator">&#8722;</span>
<a href="#" title="Watershed Information">Watershed Information</a>
#end

#capturefor(headline)
    <h1 class="title">Watershed Information: $!{watershed.Name}</h1>
    <p>
    Drainage Code: <span style="font-weight: normal">$!{watershed.DrainageCode}</span><br />
    Flows Into: <span style="font-weight: normal">$!{watershed.FlowsInto}</span><br />
    </p>
#end

#capturefor(javascripts)
    <script type="text/javascript" language="javascript" src="$Atlas.ContentPath()/javascripts/site.js" />
#end

               
<div id="expanded-info">
    #if($interactive_maps.Count != 0)
    <div id="interactive-maps">
        <h2 class="title">Interactive Maps:</h2>
        #parse("interactive_map/_list.vm")    
    </div>
    #end

    #if($published_maps.Count != 0)
    <div id="published-maps">  
        <h2 class="title">Published Maps:</h2>  
        #parse("publication/_list_maps.vm")            
    </div>
    #end
    
    #if($published_reports.Count != 0)
    <div id="published-reports">  
        <h2 class="title">Published Reports:</h2>  
        #parse("publication/_list_reports.vm")            
    </div>
    #end
    
    #if($datasets.Count != 0)
    <div id="datasets">  
        <h2 class="title">Data Sets:</h2> 
        #parse("data_set/_list.vm")
    </div>
    #end
</div>