#capturefor(headline)
<h1>Information</h1>
<p>You're currently viewing information on <span class="search_query">$watershed.Name</span>. 
#end

#capturefor(javascripts)
<script type="text/javascript" language="javascript" src="$siteroot/Content/javascripts/yahoo-dom-event.js"></script>
<script type="text/javascript" language="javascript" src="$siteroot/Content/javascripts/abstract.js" />
#end

<div id="content" class="clearfix">	
	<div class="innerwrap">
		<div class="textbox">
            <h1>$watershed.Name, New Brunswick</h1>
            <p>       
            #if($watershed.DrainsInto)     
                Drains Into: $watershed.DrainsInto<br />       
            #else            
                Tributary of: $watershed.TributaryOf<br />
            #end                 
            Drainage Code: $watershed.DrainageCode<br />
            <a class="option" target="_blank" href="http://gis.mektekdev.com/demo/Default.aspx?resource=View_Location&markerPoint[0]=$watershed.PlaceName.LongDec,$watershed.PlaceName.LatDec&Units=Decimal Degrees&CoordSys=NAD83">View Location in Map</a><br />                   
            </p> 
            
            <div id="interactive_maps">    
                <h2 style="text-decoration: underline;">Interactive Maps</h2>                
                <ul>
                #if($interactive_maps.Length == 0)
                    <p>No Interactive Maps Found</p>
                #else
                    #foreach( $map in $interactive_maps )
                        <li style="clear: both;">
                            <img class="thumbnail" alt="Map Preview" src="$!{map.Thumbnail}" />
                            <h3><a target="_blank" href="http://gis.mektekdev.com/demo/Default.aspx?resource=$map.ResourceName&markerPoint[0]=$watershed.PlaceName.LongDec,$watershed.PlaceName.LatDec&Units=Decimal Degrees&CoordSys=NAD83">$map.Title</a></h3>
                            <p class="description">$map.Description</p>
                        </li>
                    #end
                #end 
                </ul>
            </div>
            <div style="clear: both;"></div>
            
            #component(metadatacategories with "metadata=$metadata")                 
        </div>
	</div>
</div>